[2020-08-09 15:49] Indarello commented on #303
https://mega.nz/file/m3YQVCBS#ECo-GL9J4gBmWaauGo4ePFwe5TEPTbHgegpIeGIb0v8

[2020-08-09 15:50] Indarello commented on #303
Bug only occur in Outfit studio, not in nifskope when I just watch .nif

[2020-08-09 18:40] ousnius commented on #255
@sts1skj I implemented the undiff brush. Please let me know if there's something about it that wasn't like what you imagined it should be like.

[2020-08-09 18:40] #255 closed, assigned to ousnius

[2020-08-09 18:56] ousnius commented on #303
@Indarello When you change the coordinates, it will apply them with a slight precision loss. As long as you don't change any coordinate value and click OK, there won't be any offsets caused by Outfit Studio or BodySlide.

[2020-08-09 20:09] #304 closed, assigned to ousnius

[2020-08-10 02:57] sts1skj commented on #255
@ousnius It seems to work fine.

[2020-08-10 15:02] Indarello commented on #303
You mean there is no bug? Why I never had this problem before?

[2020-08-10 16:20] ousnius commented on #303
@Indarello I'm not saying there's no bug, I'm just wondering why you are changing the coordinates at all like you do in the attached video.

[2020-08-10 16:24] Indarello commented on #303
See the gap between the eye and the face?
Gap disappears (face moves a bit) if I do this

[2020-08-12 06:26] sts1skj commented on #303
@Indarello This problem (unaligned shapes) is the result of accumulated roundoff error in the rendering pipeline.  Some of that roundoff error is already present in your nif file, but most of it is happening inside Outfit Studio.  Outfit Studio's rendering pipeline is more complicated than the rendering pipelines in NifSkope or the game.  It's especially complicated for FO4 nif files, because thes

[2020-08-12 08:07] sts1skj commented on #293
I apologize for taking so long to get this done.  I let myself get distracted with other projects.

[2020-08-13 16:32] #303 closed, assigned to nobody

[2020-08-13 16:32] #293 closed, assigned to sts1skj

[2020-08-13 18:00] isshininu opened #308 "Mesh morph distortion on male character."
After using Outfit Studio for creating slider with _0/_1 body shapes and conforming outfit for bigger shape (_1), I usually make more accurate _1 mesh or fix existing output in 3ds max program. Just export NIF from 3ds max copy & paste over (paste over mesh created in Outfit Studio).

So, the problem is strange, but after using 3ds max nifs for fixing Outfit Studio output clothes on male body beca

[2020-08-19 01:28] ousnius commented on #308
It's probably a difference in the weights or skin partition. It's not an Outfit Studio issue so there's nothing I can do.

[2020-08-19 01:28] #308 closed, assigned to nobody

[2020-08-19 03:33] emptyngton opened #309 "Automatically change "posing bone" to currently selected bone"
When a user cycle through the bones, it would be nice to change bone automatically to the same one in the "Posing section". It will speed up the skinning process because no needed each time find the same bone from the "Posing bone" list.
![SNAG-0000](https://user-images.githubusercontent.com/40150265/90589083-3d295e80-e1ab-11ea-9d6d-66156067c6b9.jpg)

[2020-08-24 11:25] isshininu commented on #308
Mesh is literally the same.

Well, I wish I knew

[2020-08-30 16:13] DaCoolX opened #310 "BodySlide hangs when a preview window opens maximized on non-primary display"
**Description**
The position and size is remembered for the preview window. If it is closed in a maximized state on a secondary display (i.e. not the primary one) and you try to open the preview window again, the preview window is created but nothing renders, and Bodyslide freezes with a 100% load on a single CPU core.

**How to reproduce**
1. Open the preview window
2. Drag it to non-primary moni

[2020-08-30 16:16] ousnius commented on #310
@DaCoolX I don't have the issue. Are you on an Intel, AMD or NVIDIA chip? Does your machine have multiple graphics chips? Are your drivers up-to-date? Do you run something like G-Sync or the like?

[2020-08-30 16:17] DaCoolX commented on #310
AMD Vega 64 with Radeon 20.4.2, most up-to-date as of now.
Onboard Intel graphics is disabled.
Let me try without Freesync.
Edit: Freesync on or off has no effect.

[2020-08-30 16:22] DaCoolX commented on #310
Oh wait, the in-driver updater was buggy. Let me update Radeon and come back to you.

[2020-08-30 16:31] ousnius commented on #310
And it works if it's re-opened on the primary monitor instead? Can you try disabling "BSA Textures" in the BodySlide settings?

[2020-08-30 16:44] DaCoolX commented on #310
20.8.3 Radeon here, sadly no change.
BSA texture toggle doesn't affect the outcome, still hangs.

Yes, if it tries to open maximised on the primary monitor, it works, weirdly enough.
Which is coincidentally the only fast workaround I have to get it unstuck, disable secondary and open the preview window on the primary.

[2020-08-30 16:46] ousnius commented on #310
Then I'm not really sure what to do or how to debug it. It might be an AMD driver thing. Instead of disabling your secondary monitor, you can reset the window position/size/state in the BodySlide config XML file.

[2020-08-30 16:59] DaCoolX commented on #310
I have Win10 update 2004 on the way, not hopeful but hey let's see what happens.

If it is necessary I will have a stab at it.

[2020-08-31 05:10] akaDzen opened #311 "BSClothExtraData"
I understood correctly that the BSClothExtraData is read as a byte array without decoding?

[2020-08-31 16:00] ousnius commented on #311
Pretty much, yes.

[2020-09-05 16:18] DaCoolX commented on #310
I took a stab at it and got it to compile and run it though I could use some help. If you could lend a hand I would appreciate it greatly. I'm on your discord if you want to get in touch quickly.

[2020-09-08 20:57] ousnius commented on #310
Potentially related to https://trac.wxwidgets.org/ticket/18532

[2020-09-08 20:57] #310 closed, assigned to nobody

[2020-09-12 14:48] #311 closed, assigned to nobody

[2020-09-13 06:19] AdamVezina opened #312 "Conform Sliders Along Specific Axes"
Would it be possible to add the ability to only conform shapes to sliders along certain axes? Sometimes I only want the shape being conformed to get pushed out (Y), or to the side (X), not necessarily up/down as well (Z).

Maybe in the conform to slider dialog there can be an Advance button, or arrow. Clicking it reveals 3 checkboxes to "Conform along the following axes: X, Y, Z"

[2020-09-14 00:33] #309 closed, assigned to nobody

[2020-09-14 21:43] Yankshuru opened #313 "OutfitStudio - Undiff multiple sliders"
**Undiff multiple sliders**

**I would like to suggest multiple-sliders edit to apply Undiff. Sometimes, all lower body sliders causes long sleeves (like oriental clothes) morphs, resulting in distortion, as solution, Undiff is necessary. I'm suggesting this because of high quantity of sliders that must Undiff to fix the problem, so a massive edit would be awesome!**

**I have to apologize in adva

[2020-09-22 07:50] Guekka opened #314 "[NIF library] Access out of bounds in NiSkinPartition when saving optimized mesh"
**Description**
When saving the [attached mesh](https://github.com/ousnius/BodySlide-and-Outfit-Studio/files/5259768/in.zip) after having optimized it, an access out of bounds happens in [NiSkinPartition::Put at line 374](https://github.com/ousnius/BodySlide-and-Outfit-Studio/blob/dev/lib/NIF/Skin.cpp#L374)
This is caused by ``numTriangles`` being larger than ``trueTriangles.size()``.
**It only ha

[2020-09-22 12:07] Guekka commented on #314
Actually, this triggers way more often than expected. ``mandatoryOnly`` might be completely broken
I disabled it for now

[2020-09-22 18:18] ousnius commented on #314
@Guekka
The "needsOpt" check in OptimizeFor (which only runs ``continue;`` if ``mandatoryOnly`` is on) might break any NIF that it runs the continue on, since half of the shapes might be optimized and the other half won't be. You need to either optimize all shapes of a NIF or none.

[code]

[2020-09-23 08:02] Guekka commented on #314
@ousnius Oh, it's not possible to only optimize some shapes? My bad, this explains it. I'll submit a PR if you want

[2020-09-23 16:31] ousnius commented on #314
@Guekka Feel free to, however I could also just remove the mandatoryOnly code and you could do the optimization check locally as part of your code.

[2020-09-24 11:29] Guekka commented on #314
Removing it is probably the best option. Thanks for your help

[2020-09-26 17:14] #314 closed, assigned to ousnius

[2020-09-28 03:50] awlayton opened #315 "Import multiple files with command line"
**What is it that you want to do that isn't currently possible?**
Import multiple files to outfit studio from command line.

Right now `OutfitStudio.exe file1.nif file2.nif file3.nif ...` only imports the first file and ignores the rest.

**Request the feature**

Please make it so all the files supplied by command line are imported.

[2020-09-29 11:12] ousnius commented on #315
Added that and OBJ/FBX from command line for the next version.

[2020-09-29 11:12] #315 closed, assigned to ousnius

[2020-09-29 14:09] #312 closed, assigned to ousnius

[2020-10-03 08:25] Guekka opened #316 "[NIF] Getting stuck in OptimizeFor (probably PrettySortBlocks)"
**Description**
When running OptimizeFor on [this mesh](https://github.com/ousnius/BodySlide-and-Outfit-Studio/files/5321305/in.zip),  the code never exits the function
From what I found, it is stuck in ``PrettySortBlocks``, and more precisely ``SortGraph``. This is probably some kind of infinite recursion

**How to reproduce**
[code]

**Side question**
NIF Optimizer handles this case just fine. W

[2020-10-06 16:40] ousnius commented on #316
@Guekka NIF Optimizer doesn't have other code - the code that's private is merely UI.

I tried the NIF and there's no infinite recursion or bug, it load and saves out fine (with or without running OptimizeFor, the NIF is already in the target version anyway). However it takes quite a bit of time even in a release build and a whole lot more (feels like infinite but it's not) in a debug build due to

[2020-10-10 04:22] CannabisLector opened #317 "Crash upon starting Batch Build"
Not sure what is causing it, but whenever I try to batch build a body in BodySlide, it causes my entire PC to freeze up to the point where I have to manually restart my pc by the plug since I can't even access the toolbar or Task Manager in anyway shape or form. I've removed CBBE and reinstalled BodySlide but it still persists. If anyone can help me out here, it would be much appreciated.

[2020-10-10 09:04] ousnius commented on #317
@CannabisLector This crash only happens when using MO. Please try it without MO.

[2020-10-11 06:37] Guekka commented on #316
I don't get it. I was able to reproduce it several times (several minutes waiting and still not working). And now it works.
Sorry for bothering you again.
That said, it is not in my current plans, but if I made a performance PR, would you accept it? I've seen some places that could probably be made faster

[2020-10-11 19:42] ousnius opened #318 "Store and always load X-mirror setting from brushes"
Sometimes (like when switching between Meshes and Bones), the X-mirror setting isn't restored correctly from the brushes.

[2020-10-31 03:55] Astolf20377 opened #319 "Exporting .nif yields incorrect weight paint"
**Description**
I weight paint part of my armor to be blue related to pelvis bone. Yet when I export as nif, that part becomes red again.
I tried the same with exporting as fbx, and this does not happen.
Is this a bug?

**How to reproduce**
1. Paint a part of my mesh blue.
2. Export as Nif.
3. Load the nif into OS.
4. View the rig. It becomes red again.

Before Export
![Blue](https://user-images.g

[2020-10-31 06:55] Astolf20377 commented on #319
This is getting really strange!
If I paint the whole mesh blue with regards to pelvis bone and export, the whole leg except this region becomes blue, but for some reason this region remains red!

[2020-10-31 07:15] Astolf20377 commented on #319
No matter which bone weight bone I paint this area with respect to, it will always turn out to be red.
I have no clue what is causing this. Guess I may need to try another means to weight paint it.

[2020-10-31 07:29] Astolf20377 commented on #319
Is this related to the weight normalization?

[2020-10-31 10:43] ousnius commented on #319
Yes weight normalization. This sounds like normal behavior to me. When you paint the pelvis bone blue, but it's the only thing affecting that area, it will become normalized to 1.0 (red) on export. You may try the live normalization checkbox to the right.

[2020-10-31 14:49] Astolf20377 commented on #319
So, the way to solve it, is to make a few more bones affect that area?

[2020-10-31 14:55] ousnius commented on #319
The area becoming fully assigned to the pelvis bone isn't an error as long as it's the only bone there. You should just try it in-game.

[2020-10-31 14:58] Astolf20377 commented on #319
Yeah but then that metal plate distorted hugely as my character sneak, jump or run. That pelvis plate is supposed to stay in place. Perhaps that is my own design error...
Anyway it seems assigning different bones to it works. So thanks a lot!
Hopefully I can solve the distortion too.

[2020-10-31 15:02] Astolf20377 commented on #319
Btw you can safely close the issue.

[2020-10-31 15:02] #319 closed, assigned to nobody

[2020-10-31 15:05] ousnius commented on #319
Yes, you need a spine bone then.

[2020-11-03 14:51] GrafPanzer opened #320 "Feature request: Copy segment data"
Fallout 4 uses mesh segmentation to enable dismemberment and Pip-Boy sleeve removal.  Outfit Studio v5.2.0 has good tools to add and remove mesh segments (and subsegments) and paint(/assign) faces to them.  However, each face must be hand painted, and this painting must be redone whenever a mesh is imported from an .obj. (I use Blender, so don't know whether it's possible to preserve segments in .

[2020-11-04 18:02] ousnius opened #321 "Deleting/Separating vertices should delete now empty partitions"
When deleting or separating vertices of a shape that results in one of the partitions being unassigned to any vertices, the empty partitions should be removed from the shape.

[2020-11-04 18:27] ousnius opened #322 "Issues with exporting only selected shapes to NIF"
There's some issues when you export only some shapes to a NIF, bones seem to get merged or assigned wrongly.

1.) Separate a shape into two
2.) Select one shape, right-click, export to NIF

[2020-11-08 16:47] ousnius opened #323 "Search bar for outfits in the group manager"

[2020-11-10 00:48] ousnius opened #324 "Separating the same shape twice causes a loss of bone weights in the new shape"

[2020-11-10 03:51] GrafPanzer commented on #320
Y'know, I think this may just be too hard, and I have real doubts that it would attract enough users to justify your time.  After some experimentation with applying segmentation manually, I find that I am able to apply basic dismemberment functionality to my meshes but the results are poor.  I've concluded that the interaction between segments, .ssf files, per segment/cut offset data, and the game

[2020-11-12 19:29] #323 closed, assigned to ousnius

[2020-11-12 23:58] gt9797 opened #325 "Shape shader properties transfer"
Outfit Studio Request for an option to transfer Shape Properties from one mesh to another. (Specifically the Shader tab and Shape Textures). [https://i.imgur.com/6Lc94Lb.png](https://i.imgur.com/6Lc94Lb.png)

The reason I am requesting this is due to the amount of times I will import/export a mesh as an .obj between blender and OS. I will often make a small change in blender, whether it be a verte

[2020-11-15 16:39] GrafPanzer commented on #320
Sorry for the hin und her, but I think this feature might be worthwhile after all.  I've applied dismemberment to a number of outfits now, and it isn't hard, but is very time intensive.  Since it needs to be done every time an outfit is imported from an .obj to OS, the amount of work is daunting to mod authors.  This might be one reason so few mods implement it now.  A series of software algorithm

[2020-11-16 20:01] ousnius commented on #316
@Guekka This is now about 200000% faster (accurate approximation). :P

[2020-11-16 20:01] #316 closed, assigned to ousnius

[2020-11-16 22:57] #325 closed, assigned to ousnius

[2020-11-16 22:57] ousnius commented on #325
Added.

[2020-11-16 23:28] #322 closed, assigned to ousnius

[2020-11-16 23:51] ousnius commented on #321
Regression caused by 3f216a9

[2020-11-16 23:51] #321 closed, assigned to ousnius

[2020-11-16 23:51] #317 closed, assigned to nobody

[2020-11-16 23:52] ousnius commented on #249
Closing for now as I personally have no plans to add USD support as of right now.

[2020-11-16 23:52] #249 closed, assigned to nobody

[2020-11-17 22:32] #324 closed, assigned to ousnius

[2020-11-18 21:02] #318 closed, assigned to ousnius

[2020-11-26 03:01] GrafPanzer opened #326 "Feature Request: Fallout 76 mesh support"
Issue:  Outfit Studio currently doesn't support Fallout 76 .nif formats.  The mod maker and user communities for FO76 are smaller than for Bethesda's single-player games, and Bethesda doesn't explicitly support FO76 modding, but it is still possible to make and use mods for FO76, and there is a demand.  Currently, FO4-formatted meshes work in FO76 with limitations (FO4 cloth physics reportedly doe

[2020-11-26 04:16] BurgerLUA opened #327 "Bodyslide completely freezes up explorer when processing an absurd amount of outfits"
**Description**
Clicking "batch build" without any outfit or group filters causes the computer to crash. Note that it doesn't freeze during it building all the outfits, rather it freezes before you can select the conflicting files. CPU usage maxes out during this period and setting the affinity to use only one core and the priority to low does not prevent a crash.

**How to reproduce**
1. Install

[2020-11-26 07:34] ousnius commented on #327
@BurgerLUA This is an issue that's caused by MO.

[2020-11-26 07:34] #327 closed, assigned to nobody

[2020-11-26 09:44] rcodegrove commented on #302
+1 for some very basic functions here.  I have been trying to weld vertices that have separated due to overdoing smoothing and using 'V' and coordinates for correcting errors which does the job. But there seems to be bugs when sliders are active, which is usually when it is needed.  The coordinate's seem to jump to random values.  I am trying to diagnose the specific conditions.

I originally made

[2020-12-02 18:30] ousnius commented on #326
Outfit Studio will only have explicit support for games where modding is officially supported by the developer. For a game like FO76 in multiplayer this is currently not the case. I don't grant permission to port assets of CBBE to FO76 either as of now.

This has multiple reasons; legal and philosophical and to prevent the wide majority of people from being able to cheat (editing meshes and stuff)

[2020-12-05 13:15] testiger2 opened #328 "CTD induced by incorrect sorted blocks"
Just wanted to report an issue with the new block ordering from
https://github.com/ousnius/BodySlide-and-Outfit-Studio/issues/316

I found out that Collision blocks get ordered/indexed in the reverse order they are supposed to.
Normally you would have something like this: (4)bhkCollisionObject->(3)bhkRigidBody->(2)bhkBoxShape

The new code orders them like this ;  (2)bhkCollisionObject->(3)bhkRigi

[2020-12-09 22:00] GrafPanzer commented on #326
(Sorry for the slow reply here; I just noticed on Discord that you answered this.) Thanks, that makes sense. Hana had previously said you didn't support FO76, but I thought I'd at least ask. I didn't plan to port CBBE to FO76, but wasn't aware it'd be an issue. Thanks for the clarification.

[2020-12-10 04:38] #326 closed, assigned to nobody

[2020-12-11 14:22] Evan555alpha opened #329 "Sub-segment assignment loss when painting sub-segments."
**Description**
For Fallout 4, I have an armour-piece outfit that I have been creating for a while now. I have been creating the sub-segment data through Outfit Studio v5.2.0.0. I have run into a scenario where, upon painting the last few faces on the last sub-segment I am trying to create, all sub-segment assignments are subsequently cleared.
All sub-segments remain in the top right window, but e

[2020-12-11 17:12] ousnius commented on #329
@Evan555alpha I've played around with it a bit and this seems to happen when you right-click the top segment (not sub segment) to insert the new sub segments via the context menu. The internal IDs get shuffled the wrong way.

If you always right-click the newly added sub segment to add the next sub segment (instead of the parent segment), then it will work. I will think of what to do to fix it.

[2020-12-11 19:37] ousnius commented on #329
This should be fixed for the next version, thanks for the report.

[2020-12-11 19:37] #329 closed, assigned to ousnius

[2020-12-11 20:26] ousnius commented on #328
This was fixed before the next release (the bug was not present in any Nexus release yet). Thanks for the report.

[2020-12-11 20:26] #328 closed, assigned to ousnius

[2020-12-12 03:09] GrafPanzer opened #330 "Typing in the SSF File field activates hotkeys"
Issue:  In the Segments tab, typing in the SSF File field is not protected from triggering hotkeys, so SSF file names with the letters x, c, b, r, g, w, l, t, etc. cannot be readily typed in.  To reproduce, go the the Segments tab and type "Meshes\Clothes".  You will be unable to type the lowercase "l" in Clothes.  Instead, the scene lighting will toggle off.

Workaround:  Ctrl+v pasting the compl

[2020-12-14 22:58] #330 closed, assigned to ousnius

[2020-12-17 01:23] GrafPanzer commented on #330
Thanks!

[2020-12-23 00:08] #288 closed, assigned to ousnius

[2021-01-01 13:11] WarGreySama opened #331 "FBX Import Weight Issue on limbs"
A prerigged fbx model with right bone names if imported to Outfit Studio and exported as nif,
weights on limbs don't work at all, only the vertical bones from pelvis spine0, spine1 and spine2
neck (if there is), head bone works properly. Arm bones and leg bones won't work at all. It is quite weird that if I open model with NifSkope I notice that all the bones that deform legs and arms are put in t

[2021-01-01 15:04] ousnius commented on #331
The FBX import of Outfit Studio only aligns bones correctly if a matching reference skeleton (and reference shape, like a CBBE body in the case of Skyrim/FO4) is loaded into the program before loading the FBX.

[2021-01-01 18:26] WarGreySama commented on #331
I see, but that still doesn't work because I painstakingly rigged the same models manually in OutfitStudio only to fix some weights later in Blender. So I keep my manually rigged models intact and as reference, I also export them as fbx to fix weights in Blender from which I export as fbx again to import back to Outfit Studio but same problem persists.

[2021-01-01 18:27] ousnius commented on #331
You need a skeleton.nif for your rig that you can assign to Outfit Studio in the settings.

[2021-01-01 20:23] WarGreySama commented on #331
Ah thanks a lot. Sorry for bothering you.

[2021-01-08 21:49] #331 closed, assigned to nobody

[2021-01-16 15:38] Rinelw opened #332 "Total Freeze (MO)"
**Description**
Whenever I run batch build and I have an option to choose output everything except of a mouse cursor freezes after the cursor leaves the batch build window boundary. PC Restart is the only option to unfreeze

**How to reproduce**
1. Start BodySlide
2. Select your presets
3. Click on 'Batch Build'
4. Click 'Ok'
5. Move your cursor outside the batch build window area.
6. See the erro

[2021-01-16 15:39] ousnius commented on #332
Multiple people have reported this and this happens with MO only. Not sure what I would do here, nor how to debug it or what could possibly cause it. The MO developers might be better off looking at it first.

[2021-01-19 22:08] Spawnkiller opened #333 "Misleading help text for unselect/mask tool"
Description

Some small help text bug that is present since v4.1.9 (probably since the tool was introduced…):
Masking-tool (Pencil) mouse over help text description “bug”.
It tells about to hold CTRL to unselect/mask a vertex -> but this is done by hold ALT, hold CTRL does nothing when masking.

How to reproduce
Move mouse to hover over pencil tool, wait for help text to appear.

Proposal to furth

[2021-01-19 22:15] Spawnkiller opened #334 "Some Keyboard shortcut enhancements"
Since v5.3.0 it is possible to toggle the new "Show Floor" option.
But it has no keybord short cut.

**Request the feature**
Proposal:
1st change an existing shortcut to use a different key.

To make it more coherent expand the description text of the options in question:

- Add word “Grid” to Show Floor -> “Show Floor Grid”
- Change keyboard shortcut “G” for “Toggle Visibility” to “V” (if not alr

[2021-01-30 18:14] Al12rs commented on #332
@aerd2 Could you drop by the issue linked above and help us diagnose this issue?

[2021-02-09 18:01] SpannerLM opened #335 "Section of weight paint will not update."
Hello. I am relatively new to this so excuse me if this isn't actually a bug, and rather just my misuse.

I've been working on creating a set of armor, and have all of the weights painted near perfect, except for two portions of what I believe are on the pelvis bone. There is a big red blotch of weight paint. Everything seems normal when I correct it, however when I export the file, that big red b

[2021-02-09 18:05] ousnius commented on #335
On export, weights (up to 4 bones per vertex) will be normalized to result in a sum of 1.0 (red). You're seeing this exact effect when turning on weight normalization for the brush.

Since only the pelvis bone is affecting that area of vertices, it will always become red. The area shown looks more like it should belong (more) to one or multiple of the spine bones.

You should turn on normalization

[2021-02-09 19:18] SpannerLM commented on #335
Well that seemed to solve my problem real nice. I didn't know about that.
Thanks a lot! Problem solved.

[2021-02-09 19:18] #335 closed, assigned to nobody

[2021-02-12 01:10] GreenGhost21 opened #336 "FBX Export Broken"
**Description**
Exporting shapes to FBX results in a _very_ broken output.

This is how the CBBE NeverNude body for Fallout 4 looks in BodySlide (Front View, non-perspective):
![image](https://user-images.githubusercontent.com/6434946/107718503-e9e02680-6c8a-11eb-8220-e3af2cb404f2.png)

And this is how it looks in the official Autodesk FBX Review tool:
![image](https://user-images.githubuserconten

[2021-02-12 01:18] GreenGhost21 commented on #292
I'd like to see this as well, actually. It would certainly save the trouble of exporting outfits to FBX (which is currently broken, as far as I can tell), subdividing the resulting meshes in another program, and importing the new meshes. Splitting the edges one-by-one is not only inefficient, but in my experience, it keeps the subdivisions from being regular, and results in a bit of a mess of poly

[2021-02-13 14:17] ousnius commented on #333
@Spawnkiller The text is correct, but the functionality is probably too confusing.

These two apply when you do NOT have any brush selected, so you are in selection/picking mode (shortkey key: '0'):
- Clicking on a vertex in the vertex selection mode selects it (which is equivalent to unmasking it, since something is selected when it's not masked).
- Holding down CTRL while clicking on a vertex in

[2021-02-13 14:27] #333 closed, assigned to ousnius

[2021-02-13 14:39] #334 closed, assigned to ousnius

[2021-02-21 15:05] GrafPanzer opened #337 "Wiki Entry Suggestion: Managing Presets"
Issue:  Currently, there doesn't seem to be any documentation in the BodySlide and Outfit Studio Wiki on how to create and manage presets, so some presets published at NexusMods include unnecessary groups (e.g., they may cite groups specific to one or more outfit mods as well as the master body group, when they could just cite the master).  Or worse, the preset may assign only specific outfit grou

[2021-03-03 08:51] vadsonbof opened #338 "Outfit Studio 5: Transform Tool works differently from previous version"
**Description**
I came across differences in the work of "Transform Tool" in Outfit Studio between versions 4 and 5 (I compared versions 4.5 and 5.2, 5.3).

Previously after I import outfit with different bones position I could translate it as a whole to match the reference. And it worked fine.

When I do the same in the newest version, I've got some ugly picture in nifscope and 3d max. The mesh a

[2021-03-03 11:23] ousnius commented on #338
@vadsonbof Not a bug, you need to use "Edit -> Reset Transforms" and if it's still needed, move it afterwards.

[2021-03-04 08:31] themilkdrinker0 opened #339 "Move "Apply to Mesh" button and add confirmation dialog"
The "Apply to Mesh" buttom is dangerously on the way of the "Show Pose" check box and the bone drop box, I would suggest to move it to the "Reset Bone" buttom or add Undo to it, because I unintentionately hit it and had to redo some work.

[2021-03-04 11:49] vadsonbof commented on #338
@ousnius Maybe I'm missing something, but it doesn't work for me. I used Reset Transforms after step 2, but nothing changed in the viewport or after saving the project.

[2021-03-04 16:08] ousnius commented on #338
@vadsonbof After loading the mesh and using Reset Transforms, did you then align it correctly using the transform tool before exporting it?

[2021-03-05 06:47] vadsonbof commented on #338
@ousnius Yeah, I repeated all the steps from the first post. I even loaded outfit in the game to see the same picture as in NifScope.

However If I don't align the mesh and the reference (regardless using Reset Transforms), I've got a .nif file that appears to be valid. But in this case, I have to endure "mesh shift" in the Outfit Studio viewport, which obviously doesn't allow to work with sliders

[2021-03-13 17:55] ousnius opened #340 "Connect mirror states of the main brushes again"
After #318, the x-mirror states of the main brushes (inflate/deflate/smooth/move/mask) should be synchronized again.

[2021-03-27 18:36] juhvv opened #341 "Executable file path causes missing UI bitmap icons"
**Description**
It appears that if the BodySlide/Outfit Studio executable is located in a directory which has a "#" in its absolute file path, the UI buttons' bitmap icons are not visible. Here's a log file demonstrating this issue:
[Log_OS.txt](https://github.com/ousnius/BodySlide-and-Outfit-Studio/files/6216147/Log_OS.txt)

**How to reproduce**
1. Place the BodySlide/Outfit Studio executable to

[2021-03-28 07:58] ousnius commented on #341
@juhvv This seems to be a bug in the filesystem of wxWidgets where it traverses the path (looking for multiple locations or URLs).
`filesys.cpp: wxString wxFileSystemHandler::GetRightLocation(const wxString& location)`
There's nothing I can do on this side, it needs to be fixed in wxWidgets.

[2021-03-31 21:37] #339 closed, assigned to ousnius

[2021-04-05 22:04] ousnius opened #342 "For skinned meshes, render bone-to-bone transforms instead of absolute node positions"
For skinned meshes, render bone-to-bone transforms (hierachical) instead of nodes. Static meshes keep rendering nodes.

[2021-04-10 18:34] ousnius opened #343 "Save named masks to some extra file"
Currently, you can create and name masks in Outfit Studio, but they aren't a persistent part of the project. Increase version of OSD file format and append new data at the end.

[2021-04-13 17:05] ousnius commented on #341
See https://trac.wxwidgets.org/ticket/19142

[2021-04-14 19:20] MalNebiros opened #344 "Batch Partition Slot/Type Alteration"
For compatibility reasons between different mods it can be necessary to update the slots used for various entities such that they match a given format.

A UI to enter a set of slots to swap and associated filtering criteria in order to be able to point it at a set of files and make the adjustments in one go.

[2021-04-14 19:22] MalNebiros commented on #344
With a little guidance as to which classes I need to check for the mesh tree view and the associated partition view and list I can probably get this working myself. I'm unsure if this would fit bet as a tool within Outfit Studio or as a tool invoked from bodyslide.

[2021-04-14 19:37] ousnius commented on #344
@rowan341 Since this is supposed to operate on multiple files outside of the Outfit Studio project, it would be best fit in a completely separate tool utilizing nifly (the NIF library used here).

Much like the SSE NIF Optimizer - I have such a quickly hacked together tool for personal use for when I need to do something specific to a few files, but it's not something that can be released in its s

[2021-04-14 19:48] MalNebiros commented on #344
That's roughly what I expected, single responsibility principle and so on. I may have a look into it this weekend. Is there anywhere better to start looking at it than going backwards from the tests?

[2021-04-14 19:53] ousnius commented on #344
Are you referring to using nifly? It's only recently been split into its own repo and refactored a bit. There's no usage info/API documentation/examples yet, but it's on my todo list.

The problem with editing/merging/splitting skin partitions (for changing or merging slots), is that a lot of data in the NIF format relies on it and needs to be changed/merged to fit the new partition count and tria

[2021-04-14 19:58] MalNebiros commented on #344
I was indeed referring to nifly.

Ah okay, thanks for the warning on the structure. So it'd be a case of using nifly to do the reassignment then calling the relevant outfit studio methods to do the rest of the required processing?

I may still have a look at it but it is starting to sound a little more complex hoped although possibly still less so than anticipated.

[2021-04-17 22:01] #341 closed, assigned to nobody

[2021-04-30 20:19] ousnius opened #345 "Naming poses and saving them out to files"
Like #343, poses should be able to be saved in the UI and as such exported to a simple file format (possibly XML) in the installation folder. Also add ability to load and select these poses again in OS.

[2021-04-30 21:40] ousnius opened #346 "Add search filter to bones tab"
Add a search filter to the bones tab. Searching recreates the tree with only matching bone name results. The normalize state needs to be retained for currently filtered out bones (read state from data instead of tree).

[2021-04-30 21:49] ousnius opened #347 "Add shortcut to enter slider edit mode and move between sliders"
CTRL + Space to enter/leave slider edit mode of the last edited slider (or the first slider if none were edited so far). Allow quickly moving between the sliders using CTRL + scroll wheel.

[2021-05-02 14:49] Osmosis-Wrench opened #348 "Batch build from cli"
**What is it that you want to do that isn't currently possible?**
... Currently you can build a body group, but you don't seem to be able to batch build all outfits from cli.

**Request the feature**
... Ideally this would look something like `"Bodyslide x64.exe" /gbuild "CBBE Body" /p "CBBE Curvy" /batchbuild`
And would build all outfits at once. If conflicts arise just show the options menu like

[2021-05-02 14:53] ousnius commented on #348
@Osmosis-Wrench Use the group "CBBE" for batch building, all CBBE outfits should be part of that group. If they're not, they should be added to it.

[2021-05-03 16:56] BaelZ opened #349 "FBX import destroying uv's"
**Description**
When I try to import an FBX file from maya 2019, Zbrush  or any softwares I use, the uv's are destroyed. I also tried to import FBX asci/binary for 2019,2018 and older dates : still have the issue. Also importing in obj doesn't work because of the polygonal limit.

**How to reproduce**
Simply importing the model as new project or loading it as outfit.

[FO4Newbody.zip](https://gith

[2021-05-03 20:22] ousnius commented on #349
@BaelZ The NIF format doesn't support vertices with more than one texture coordinate (UV). You need to split the mesh on its UV seams to be able to import it correctly. And yes, it's very close to or over the vertex/triangle limit for the game.

[2021-05-03 21:11] BaelZ commented on #349
@ousnius  So I need to cut for exemple, at the hands, head , belly etc, is that right ? Isn't it going to create very visible seams in game ?

[2021-05-04 16:21] ousnius commented on #348
@Osmosis-Wrench Let me know if this is enough for you or if you still need something new.

[2021-05-04 16:22] ousnius commented on #349
@BaelZ Yes, those are examples.

No, Skyrim uses model space normal maps for everything that has skin (head, hands, feet, body, ...). Due to this, they won't have any shading seams as long as the vertices and weights are matching up.

[2021-05-04 16:22] #349 closed, assigned to BaelZ

[2021-05-04 16:24] ousnius opened #350 "Improve "Choose output" dialog"
Better UX and design, improve listing of the outfits and choices, add more information.

Add a way to open the preview window to look at one of the outfits.
If possible, add a way to load multiple outfits into a preview window to compare them even better.

[2021-05-06 11:09] Osmosis-Wrench commented on #348
That works, now that I understand how they are built. Only thing that is kinda weird is that the auto mode doesn't seem to obey the Mo2 output rules when called via Mo2. Not sure if that is something you can fix however, might be an mo2 issue.

If you can do something about that, it would be amazing. But if not feel free to close the issue 😄

Thanks for your help!

[2021-05-09 15:06] ousnius opened #351 "Make camera rotation customizable"
Right now, the camera (view) always rotates around the origin point (0, 0, 0).
Add another camera mode that will rotate the view around the mesh center point or the current view direction.

[2021-05-12 23:59] ousnius commented on #348
From BodySlide's side, there's no difference between batch building from the GUI and from the command-line. Maybe MO's hooks aren't fully initialized yet? Not sure, but you might have to go to the MO devs for that.

[2021-05-12 23:59] #348 closed, assigned to nobody

[2021-05-13 01:53] #347 closed, assigned to ousnius

[2021-05-13 14:12] #346 closed, assigned to ousnius

[2021-05-13 16:39] ousnius opened #352 "Add dialog for managing projects"
Add a new dialog that shows all installed projects. Make it possible to edit (load up in OS), rename and delete projects.

Add an option to delete the corresponding .nif+.osd files from the ShapeData folders as well. If those two files are the only ones in the folder, delete the folder as well.

Add bulk editing, some features that would be nice are changing ShapeData folder, changing filename (li

[2021-05-14 01:10] ousnius opened #353 "Add "solid" conforming mode"
Moves all vertices of the shape/masked area by the same amount to prevent meshes that are supposed to be solid from distorting. Average the morph diff of all vertices and then apply it equally to all of them.

This is intended to be used selectively on small solid parts, not entire outfit meshes, such as jewelry, skulls between the breasts or any other type of solid object.

[2021-05-15 03:55] ousnius commented on #353
Works best with "uniboob" reference bodies. Necklaces/amulets might require applying a smoothed mask before conforming.

[2021-05-15 03:55] #353 closed, assigned to ousnius

[2021-05-15 14:35] ousnius commented on #351
Press "Shift+R" to toggle between zero vs. mesh center camera rotation modes. Hold ALT and right-click a vertex to set it as the rotation center.

[2021-05-15 14:48] ousnius opened #354 "Delay loading of OSD to when BodySlide preview is opened"
Right now, the full OSD is loaded when selecting an outfit in the dropdown in BodySlide. The slider data is only needed with the preview window opened up, though.

Only load the OSD file while the preview is open or as it's being opened

[2021-05-15 14:59] ousnius opened #355 "Unsaved changes indicator and warning dialog"
When editing a project in any way (brushing, renaming things, editing shapes, editing sliders, partitions/segments, vertex colors, ...) it should receive an "unsaved changes" indicator in the title bar and somewhere else in the program.

When closing the program (or going to New Project, Load Project, Unload Project, ...), there should be a warning dialog asking to save the unsaved changes or to d

[2021-05-15 15:24] ousnius opened #356 "Add labels showing total bone count and weighted bone count of selected shape"
**Example:**
Total Bone Count: 21
Shape(s) Bone Count: 10

[2021-05-15 15:37] ousnius commented on #352
Different projects can share the same .nif and/or .osd files. Dialog needs to show statistics on which projects share the same .nif and/or .osd.

Additionally, .nif or .osd can not be deleted when they are used by more than one project.

[2021-05-15 15:55] ousnius opened #357 "Allow choosing shapes/sliders for OSD/TRI import"
For „Slider → OSD/TRI Import“, add a dialog that lets you choose the sliders to import and the shapes to import them to without clearing all existing sliders.

[2021-05-15 16:07] ousnius commented on #345
Additionally, the poses could be selected and applied in the BodySlide preview window as well.

[2021-05-15 16:30] ousnius opened #358 "Add dialog to create weights based on bone positions"
Add new dialog to create weights based on the position of a list of bones that exist in the project.
Allow picking bones to use (two lists like group manager?).

Distribute weights based on how far the vertex is apart from the bone’s center with a falloff and then normalize.
Falloff and range should be customizable for each bone.

Preview the influence range of each bone using translucent spheres

[2021-05-15 16:41] ousnius opened #359 "Add origin selection to „Shape → Scale/Rotate Shape“ dialogs"
Add origin selection to „Shape → Scale Shape“ and "Shape -> Rotate Shape" dialog (0-point, center of mesh, …).

This is already possible by scaling/rotating using the transform tool instead, but not using exact numbers.
Custom center point is possible by placing the pivot, which is then used by the transform tool.

[2021-05-15 17:09] ousnius opened #360 "Add X/Y/Z mirror to Move Shape dialog"
Add X/Y/Z mirror functionality to the „Shape -> Move Shape" dialog that makes it so vertices located on the other side of the axis are affected in reverse.

[2021-05-15 17:59] ousnius opened #361 "Add undo functionality for deleting shapes"
Currrently, the undo states already hold all information about the geometry, including partitions/segments, bone weights etc.

Expand on this functionality by duplicating the entire shape block and its child blocks (shader, texture set, skin instance/data/partition) into the undo state for a deletion action.

Then restore (re-add the blocks to the working NIF) the shape on redo and insert it into

[2021-05-15 18:29] ousnius opened #362 "Highlight UV seam edges while UV editor is open"

[2021-05-15 21:53] #360 closed, assigned to ousnius

[2021-05-15 22:52] GrafPanzer opened #363 "Transform tool with non-zero sliders and remember last used tool"
Trying to edit a mesh with most tools while sliders are set to a non-zero value calls a dialog prompting the user to set sliders to zero.  However, it is possible to set slider(s) to a non-zero value then edit the mesh with the transform tool.  This does not call a dialog, but results in the slider value becoming permanent.  If you Ctrl+Z to undo, the slider resets to zero but the mesh doesn't cha

[2021-05-16 02:13] #362 closed, assigned to ousnius

[2021-05-16 02:20] ousnius commented on #363
@GrafPanzer
Being able to use the transform tool while any slider is at a non-zero value (and not in edit mode) is a bug. I'll have to fix that one.

1. X-mirror has to stay on by default, as that's what's almost always needed (initially) when working with outfits. However, the behavior here changed for the worse recently and maybe it will be fine for you again after #340 is fixed.
2. I prefer the

[2021-05-16 13:51] GrafPanzer commented on #363
Thanks!

[2021-05-16 14:51] #355 closed, assigned to ousnius

[2021-05-16 20:33] #359 closed, assigned to ousnius

[2021-05-16 22:36] #354 closed, assigned to ousnius

[2021-05-16 23:14] #356 closed, assigned to ousnius

[2021-05-16 23:20] ousnius opened #364 "Move pivot to highlighted vertex"
A new shortcut that enables/shows the pivot and moves it to the location of the currently highlighted/hovered over single vertex.

[2021-05-19 23:16] ousnius opened #365 "Allow saving to sub directories of "SliderSets" in the save project dialog"
Currently, only the .osp file name is used to save directly to the "SliderSets" directory and any specified sub directory is dropped. Make the save dialog use the full path if an absolute path is specified for saving the project.

BodySlide already loads .osp files from sub directories.

[2021-05-20 17:02] ousnius opened #366 "Edge Slide for moving vertices and correct UVs with it"
In blender, moving a vertex along an edge is done by hitting the G key twice to activate Edge Slide. In Edge Slide, there is an option to correct UVs to prevent or try to prevent it from moving/stretching.

Probably too much work for now as it involves making an action/UI that can restrict the movement of a vertex along an edge. Might be something for a redesign some time down the line.

[2021-05-21 12:17] GrafPanzer commented on #363
Here's a bug related to (2) that I noticed last night.  The View shortcut keys (Shift+1,2,3,4,5) seem to be connected to the Mask, Inflate, Deflate, etc. tools.  When I use those shortcuts to set the view, they also sometimes change the selected tool.  It's not clear whether they're tabbing through the tools, or selecting specific tools.  The behavior isn't consistent.  In any case, the View short

[2021-05-24 21:43] ousnius commented on #332
Closing the issue on this side (not resolved, though).

[2021-05-24 21:43] #332 closed, assigned to nobody

[2021-05-25 01:54] ousnius commented on #336
@GreenGhost21 This is fixed for the next version.

[2021-05-25 01:54] #336 closed, assigned to nobody

[2021-05-27 00:43] #365 closed, assigned to ousnius

[2021-06-01 01:08] #351 closed, assigned to ousnius

[2021-06-01 21:01] ousnius commented on #342
See 4d4dd2b.

[2021-06-01 21:01] #342 closed, assigned to ousnius

[2021-06-07 19:30] #340 closed, assigned to ousnius

[2021-06-07 19:35] ousnius commented on #363
@GrafPanzer All of this should be fixed now.

[2021-06-07 19:35] #363 closed, assigned to ousnius

[2021-06-08 00:55] GrafPanzer commented on #363
Thanks!  That's awesome!

[2021-06-08 19:47] ousnius commented on #338
@vadsonbof It's not something that can be fixed because the bone transforms of the outfit aren't correct. The workaround is the following.

1. "Edit -> Remove Skinning"
2. Move the shapes to the right place
3. Reload a reference body
4. Copy bone weights
5. Set partition slots

[2021-06-08 19:47] #338 closed, assigned to nobody

[2021-06-18 11:25] GrafPanzer opened #367 "Opening Slider Properties"
Minor usability issue:  For new Outfit Studio users, it's not obvious that each slider has a properties window, or that they can open it by pressing Tab when that slider is in edit mode.  This was something I struggled with when I first started using OS.  I know it can also be accessed from the Slider menu, but it's not obvious that that Properties selection is specific to the slider currently bei

[2021-06-20 07:43] vararth commented on #128
So I am trying out Enderal SSE and though I've never faced this issue before, the exe is opening but is completely empty. Having played the game for years without an issue with Bodyslide, this is the first time such an error has shown up..

[2021-06-20 21:45] #367 closed, assigned to ousnius

[2021-07-05 12:17] gn01036238 opened #368 "Regex error on Group manager outfit filter"
In group manager menu, I tried to filter outfits with HDT in it's name, some outfits are labeled "[HDT]" so I tried to use "[" or "]" on the filter criteria and exception occurs.

[2021-07-06 19:19] #368 closed, assigned to ousnius

[2021-07-16 23:59] #345 closed, assigned to ousnius

[2021-07-18 03:45] AdamVezina opened #369 "Copy Selected Bone Weights Copies Unselected Bones"
Issue: When shift-clicking multiple bones in the list and then choosing to copy selected bone weights from the Shape menu, other bones that were not selected in the list are copied as well.

Exact steps to reproduce:

1. Load an armor that has weighting for the NPC Head [Head] bone.
2. Select a single shape that has weighting for the NPC Head [Head] bone in the Meshes tab.
2. Move to the Bones tab

[2021-07-18 18:39] ousnius commented on #369
@AdamVezina This isn't caused by the program copying weights to bones that aren't selected - it's an intentional side effect caused by weight normalization. When any weight on a specific area is changing, the other weights (on other bones) need to adjust accordingly.

See https://github.com/ousnius/BodySlide-and-Outfit-Studio/wiki/Weight-Normalization

[2021-08-02 19:30] AdamVezina opened #370 "Zapping Doesn't Delete Shared Linked Properties"
Currently when a shape is zapped the entire branch of that shape and all it's properties is deleted.
If that shape is using a shared TextureSet (ie. there is a single Texture Set property in the nif that is shared among multiple shapes), that shared property will be deleted and all shapes that had a dependency on the texture set will lose their assigned textures.
...

Often shared texture sets are

[2021-08-02 19:32] AdamVezina commented on #370
This issue won't show up in Outfit Studio because the mesh is loaded with all shapes intact. The issue only occurs in Bodyslide/in-game after the transforms are applied to the mesh.

[2021-08-02 19:38] ousnius commented on #370
@AdamVezina Nobody cared about this or reported this in over 6 years until a few days ago (and it's always been like this). Sharing shaders or texture sets among multiple shapes is invalid (there's not a single Bethesda file that does it and in FO4 it can even cause crashes).

However, it's already been changed in the 5.4.1 release so the issue shouldn't exist there. Can you confirm it's fixed or

[2021-08-02 19:52] AdamVezina commented on #370
Confirmed "fixed" in 5.4.1.
Sorry ousnius, seems I'm always a version behind by a few days.

I've encountered this years and years ago in LE, but didn't have enough of an understanding of how nifs worked then in order to realize what was going on. Thank you for changing the behaviour, this will save me a lot of time.

[2021-08-02 19:52] #370 closed, assigned to nobody

[2021-08-04 03:28] AdamVezina opened #371 "Bodyslide Builds Default Mesh Only Unless Preview Open"
**Description**
I know this would have started with v5.4.0 when the optimization was made so slider data is only loaded when the preview window is open. It's still present in v5.4.1.

The issue is that unless the preview window is open when you build outfits they will only build as the default source mesh. No zaps, no slider morphs. I can't speak for the entire user base, but I don't think it's un

[2021-08-04 03:28] AdamVezina commented on #371
Please don't whack me for opening another issue so soon V_V

[2021-08-05 20:16] ousnius commented on #371
Thanks, fixed for 5.4.2.

[2021-08-05 20:16] #371 closed, assigned to ousnius

[2021-08-18 17:19] ousnius opened #372 "Add regex filtering back"
Regex filters were removed in 5.4.0 due to them being too confusing for average users. For example, you weren't able to search for "[CBBE]" with squared brackets.

Bring the feature back but make it an option in the search button context menu (default = off). Saved to config file.

[2021-08-18 17:32] ousnius opened #373 "Improve brush settings popup"
1. Turn numeric labels into text fields to be able to change brush size, strength and co. to a specific value manually.
2. Close popup when minimizing Outfit Studio.
3. ...

[2021-08-23 10:35] JingJang opened #374 "Save which radio button you selected when building"
A radio button filter when batch building. So it automatically selectes the one that matches the filter best. However, the others are not hidden it just they are not selected auto. So I get the radio options [UUNP] [CBBE] [CBBE with HDT] [CBBE with SMP], and I type [CBBE HDT Special] it will select the [CBBE with HDT] radio option as it is the closet match. Otherwise chooses the default. Selection

[2021-08-24 22:18] JingJang opened #375 "Batch Building Variation Preview & Own Drescriptor"
When batch building you get a selection of variations with usually a useless summary of the differences. Example:

- Bonemold Boots
- Bonemold Boots ver.2
- Bonemold Boots ver.3

It doesn't tell you what the differences are. Please consider the abilitiy to add your own short desciption to each item and it is stored in a separate file to the osp. Or better still a separate directory to the SliderSe

[2021-08-26 07:01] Nyym8 opened #376 "Snap Camera to Mesh Center/Highlighted Vertices (AKA Frame Selected)"
Many 3D programs allow you to tap a hotkey to center the camera/view on the selected mesh, vertex, edge, etc. This allows for quick and efficient navigation between different pieces of your project. I think adding this command would speed up navigation in outfit studio projects with lots of pieces, and reduce the amount of time spent zooming in and out manually. The function is called "Frame Selec

[2021-09-06 01:20] MrAnnonymous00 opened #378 "(FO4) Applying changes on segment is not working properly"
**Description**
Segment assignment data goes wrong when you add more segment(s) and apply it.
When the last segment is empty, it gets filled with the last data of the segment o
n the upper of the list when you press apply.
this is annoying when you trying to combining shapes using copy geometry because the moment you add segment(s) and press apply, the data gets messed up.

**How to reproduce**
1.

[2021-09-19 16:41] Indarello opened #379 "Copy special "cloth" boneweight works incorrectly"
I tested this problem with different versions and found that 4.9.1 is latest properly working version for this issue
next version available for download (5.0.7) have this bug

So when you copy boneweight from some clothing that have special cloth bones:
they are copied and have physics in game, but they are **dispalced** in game (see img 1) and **not displaced** in nifskope (see img 2)
But for pro

[2021-10-17 22:51] themilkdrinker0 opened #380 "Some vertice manipulation requests"
I have 2 requests:

This not isn't very important, but it would be awesome, as you can see the move preserves the volume, it's perfect to move vertices without screwing up the shape, I believe the vertices slide across the edges.

![ezgif com-gif-maker (8)](https://user-images.githubusercontent.com/80032229/137647702-f73cf0ed-c782-42fa-bca4-02dbc73a180f.gif)

This is just a snap, you could do it l

[2021-10-30 17:08] Retral-RX opened #381 "I can't change the property settings in the shader tab for Fallout 3/NV."
I have been experiencing this weird issue since when I updated outfit studio from 5.2.0 to 5.4.0+. Fallout 4 and Skyrim works fine but this problem occurs when I try to edit meshes in Fallout 3 and NV. When I edit the settings in the shader tab (*Mesh in the right menu*> properties>shader tab) It doesn't register my settings. After clicking OK, I reopen the tab to check it. all settings reset to t

[2021-10-30 19:18] ousnius commented on #381
@Retral-RX Can you attach a NIF file this is happening for you with? I can't reproduce it just yet.

[2021-10-30 20:18] Retral-RX commented on #381
@ousnius Of course, just tested this one before the upload. This one is from New Vegas. Although, I doubt it is a mesh-specific problem. I've been experiencing this issue for a while now with a variety of meshes.  I can edit those same meshes without a problem in ver. 5.2.0.

I don't know if you find this information useful but; I'm using the steam version of the games(F3, F4, FNV, Skyrim, Oblivio

[2021-10-30 21:20] Retral-RX opened #382 "Working Oblivion meshes become invisible in-game after being exported from Outfit Studio."
This is an unusual one and specific to Oblivion. As I stated in the title when I load a mesh that is working fine in my game into Outfit Studio, the mesh becomes invisible in-game after the export process. Mesh appears normal in both Nifskope and OS but it is invisible in-game.

To be more specific, I loaded a mesh from a mod I'm already using in-game. I slightly edited clippings and bone weights

[2021-10-30 23:32] ousnius commented on #381
@Retral-RX I can edit the shader type, texture paths and glossiness properties of the NIF you attached just fine in the released version of 5.4.2. What exactly are the steps you're taking (how do you load the NIF, what shape do you edit and what property, how do you save the NIF)?

[2021-10-30 23:34] ousnius commented on #382
@Retral-RX Oblivion NIF editing is pretty much untested, I merely made sure the NIF files look like they're supposed to. I've never launched the game in my life (so far). Can you attach the before and after NIF files so that I can see what might be the issue?

[2021-10-31 14:03] Retral-RX commented on #382
@ousnius  Fun thing is that even though I played Fallout and Skyrim numerous times, this is my first Oblivion run.^^ Because of this, the problem I'm experiencing made me think that Oblivion nifs somewhat work differently. It took me a while to figure out what is going on but here we are. :)

Here are the original files
[HuntersArmour-16078.zip](https://github.com/ousnius/BodySlide-and-Outfit-Stud

[2021-10-31 15:14] Retral-RX commented on #381
@ousnius Every game has its own OS with the target game selected for that game. I use the x64 version of the executables.  Since the OS uses the last selected file location for the export process across all Outfit studios regardless of the game, I simply use the drag & drop method to load the mesh. I use it for mostly armor/clothing meshes. If there is not a special case, I export mesh files as ni

[2021-10-31 17:26] ousnius commented on #381
@Retral-RX FO3/NV meshes actually don't have a property for "specular strength", that's why that one isn't saving. The other properties like shader type, specular power (glossiness) and specular color are saving fine.

So this isn't a bug, but the field "Specular Strength" should be greyed out for shaders/games that don't support it. Thanks for the report, though.

[2021-10-31 17:26] #381 closed, assigned to ousnius

[2021-10-31 17:41] ousnius commented on #382
@Retral-RX Can you see if any of these two meshes for LHBootsBlack are working (I'm assuming the edited one's you uploaded aren't working)? Or is it only the torso piece that isn't working?

[LHBootsBlack.zip](https://github.com/ousnius/BodySlide-and-Outfit-Studio/files/7449386/LHBootsBlack.zip)

[2021-10-31 18:15] Retral-RX commented on #382
@ousnius Both files are working fine. Cuirass and Greaves have the most edited ones in OS. Have you also tested them?

[2021-11-01 09:22] Morwo01 opened #383 "additional hotkeys, mute 'done!' jingle"
**What is it that you want to do that isn't currently possible?**
... Setting hotkeys, additional hotkeys in Bodyslide, muting 'Done!' jingle sound notification

**Request the feature**
... having additional hotkeys would be good for faster execute functions in Bodyslide, ie:
Outfit/Body Dropdown menu selecting next entry up in list
Outfit/Body Dropdown menu selecting next entry down in list
Prese

[2021-11-08 16:48] Dumbass420 opened #384 "I am blocked on bodyslide"
**Description**
A clear and concise description of what the bug and the expected behavior is.

**How to reproduce**
1. Click on '....'
2. Go to '...'
3. See error

[2021-12-02 05:37] Iloei opened #386 "Batch conflict resolution should be supported in the base UI"
When I am working in bodyslide, I want to see what nif(s) I would be generating. And, when I have conflicting definitions for a nif, I want to preview the possibilities so that I can pick the one I like best. And, when I make this choice, it should be preserved for batch builds.

This is similar to Issue https://github.com/ousnius/BodySlide-and-Outfit-Studio/issues/350 (partial overlap, but this v

[2021-12-02 05:44] Iloei commented on #386
Pull request https://github.com/ousnius/BodySlide-and-Outfit-Studio/pull/387 would be a plausible implementation of this concept.

[2021-12-02 19:42] Iloei opened #388 "Normal Map generation"
BodySlide should generate normal maps in addition to nifs. This should be optional (and disabled by default) because this would be a slow process.

This would have some limitations. Normal map updates could only take into account pixels which would be mapped onto the surface of the .nif model.

So, for example, where several independent .nif files may share some normal map textures, in the general

[2021-12-04 16:42] ousnius commented on #388
@Iloei There already were attempts for this in the past (in fact there's still normal generation code and UI left in the code right now if you look for it).

What triggered us to try it was the fact that Skyrim uses model-space normal maps for anything with skin, such as the body (FO4 or other Bethesda games don't use model space normals for skin). So changing the body shape through a tool like Bo

[2021-12-04 16:43] #388 closed, assigned to Iloei

[2021-12-05 16:30] #373 closed, assigned to ousnius

[2021-12-05 17:05] #372 closed, assigned to ousnius

[2021-12-05 21:45] Iloei commented on #388
@ousnius What should I look for to find that normal generation code?

While I cannot guarantee that I could address all of these problems, I have some ideas which might work.

(I was not expecting you to implement this -- I opened this issue because of this sentence in CONTRIBUTING.md: "If you are thinking of making a large contribution, open an issue for it before starting work.If you are thinkin

[2021-12-05 21:54] ousnius commented on #388
@Iloei It's part of the preview window, look for `SetNormalsGenerationLayers` and go from there. It requires creating some XML files in a format that has several layers. You can find the source for that as well.

You can try but it'll be really hard to make something that works well because a lot of logic and different formats are involved. I won't be putting any energy into it myself for that rea

[2021-12-05 22:05] ousnius commented on #386
PR #387 merged

[2021-12-05 22:05] #386 closed, assigned to nobody

[2021-12-05 22:09] Iloei commented on #388
Understood -- and you have done so much already.

Here is my plan:

(1) A low poly mesh can be [converted ](http://rosettacode.org/wiki/Catmull%E2%80%93Clark_subdivision_surface#C) to a high poly mesh. This approach has some limitations, but should be sufficient for the sliders in the context of normal map generation.

(2) For the normal map itself, a mesh should not be necessary. Instead of worki

[2021-12-06 22:53] ousnius commented on #383
@Morwo01 I've added several hotkeys so BodySlide. Every one in your list except for "Build", unfortunately I couldn't add that one due to the CTRL modifier already being used there.

F5 = refresh outfit list from disk
PgUp = go to previous preset
PgDown = go to next preset

Ctrl+A = clear search filters
Ctrl+PgUp = go to previous outfit
Ctrl+PgDown = go to next outfit
Ctrl+O = open project in Outf

[2021-12-06 22:53] #383 closed, assigned to ousnius

[2021-12-12 11:23] MrAnnonymous00 opened #390 "Slider data loss during merging geometries"
**Description**
While using **geometries merging** function, some of slider data disappears.
This seems to happen when **the source shape has sliders which the target shape does not.**

**How to reproduce**
1. load any slider set which is not a full body
![01-1 Arm Add](https://user-images.githubusercontent.com/90162452/145709742-fa688908-5006-4fdd-bce2-eba856894472.png)
 - I used a combat armor's

[2021-12-12 19:06] ousnius commented on #390
@MrAnnonymous00 Thanks for the report, I fixed the issue for the next release.

[2021-12-12 19:06] #390 closed, assigned to ousnius

[2021-12-18 18:36] ahzidaljun opened #392 "Automatic custom normals preservation for skin for Fallout New Vegas"
**What is it that you want to do that isn't currently possible?**
in fallout: new vegas, the [new and most commonly used female body](https://www.nexusmods.com/newvegas/mods/66903?) relies on custom normals on every mesh in order to be seamless (or as close as possible to it) ingame. you can preserve this by manually locking normals under the Shape dropdown, but it has to be done every single time

[2021-12-22 21:06] ousnius commented on #392
@ahzidaljun There's already a feature for locking specific normals (vertex indices), which is respected by both BodySlide and Outfit Studio. All you need to do is add a "NiIntegersExtraData" block to the body shape in its NIF file as seen in the image.

The array needs to contain the exact vertex indices you want to lock (the neck). You can find the vertex indices by inspecting your shape data in

[2021-12-22 21:06] #392 closed, assigned to nobody

[2022-01-17 21:00] ousnius commented on #382
@Retral-RX This was very likely related to the order of the blocks (nodes vs. shapes) in the NIF file. I've finally gotten around to installing Oblivion myself and have played around with a few vanilla meshes.

There's since been changes that should hopefully fix the issues you had in the next release, so I'm closing this issue for now.

[2022-01-17 21:00] #382 closed, assigned to nobody

[2022-01-21 07:17] sts1skj opened #406 ""Apply Pose To Mesh" doesn't update slider diffs"
If you select a pose with at least one bone rotated and then click the "Apply To Mesh" button in the Pose frame, the model's vertex's positions are updated, but the slider diffs for those vertices are not.  So the slider diffs now offset the vertices in the wrong direction.

For example:
1.  Load "CBBE Body".
2. Turn on posing, select the bone "NPC R Thigh", and pick an X rotation of 1.67 (about 9

[2022-01-21 07:20] sts1skj commented on #406
This bug is not important to me; I don't care if it's fixed (for now).  But I thought I ought to report it for completeness's sake.

I could probably fix this bug if you want me to.

[2022-01-21 19:10] sts1skj commented on #380
@themilkdrinker0 For your second idea, the move-snap tool, we've already discussed something very similar in feature request #302 .  In that thread, my favorite idea was a "weld and then merge" tool: if you clicked on a non-welded vertex, it would weld it (snap it) to the nearest reasonable vertex (updating position, slider diffs, and weights); if you clicked on a welded vertex, it would merge it

[2022-01-21 19:12] sts1skj commented on #302
There are some additional ideas on this request in request #380 .

[2022-01-21 19:16] sts1skj commented on #380
@themilkdrinker0 Your first idea (moving vertices along a surface) was also proposed as request 3 in #253 .

[2022-01-21 19:50] themilkdrinker0 commented on #380
Well, the way it works on Softimage for preview is that it snaps but doesn't keep the snap/merge until you release the click of the mouse, so you can move it around to other vertices while you are holding the click, the area it uses to know what to snap/merge to is the small square the appears around the mouse when you move it, it tries to snap to vertices on faces facing the view, so it doesn't p

[2022-01-21 20:25] sts1skj commented on #292
When I first created the split-edge tool in April 2020, I thought the idea of splitting all the unmasked edges in a mesh was not useful.  Since then, however, I've found myself wanting such a tool again and again.  So I now agree: this would be a useful command in Outfit Studio.

The existing split-edge tool has to create a lot of new data:
- The coordinates of the new vertex (very complicated cir

[2022-01-21 20:30] sts1skj commented on #352
See #221

[2022-01-21 23:19] sts1skj commented on #380
It sounds like, in Softimage, the snap distance is calculated in screen space, indicated by a box around the pointer.  When I wrote my earlier long message, I was thinking of calculating the snap distance in model space, not screen space.  Which is better, 2d screen space or 3d model space?  I think I would pick model space; snapping to things in the background or foreground could be quite annoyin

[2022-01-22 09:45] pgorbas opened #408 "Don't understand Install instructions at All"
Don't understand Install instructions at All

First of all "Mod Organizer", as far as I know, doesn't even exist anymore, the current program is Mod Organizer Two or MO2.
Secondly, all this talk of data folder as opposed to "real data folder" is confusing!
A picture is worth a thousand words would apply here.

What I ended up with is:
Target:  "D:\Games\Modding\mods\BodySlide and Outfit Studio\Cal

[2022-01-22 10:01] ousnius commented on #408
@pgorbas You missed a crucial point in the instructions which is to make a shortcut to BodySlide from inside of MO2, not a Windows-based shortcut.

Using MO2 it should be aware to you that any external programs you use must be run from inside of MO2, otherwise its virtual file system cannot hook into those external programs (such as BodySlide). The install instructions for MO2 for BodySlide are th

[2022-01-22 10:01] #408 closed, assigned to nobody

[2022-01-22 10:06] pgorbas commented on #408
Closed. With absolutely no explanation about why it is Closed.   Proper documentation is as important as any other step in the software development cycle, and as painstakingly show, the current setup instructions are far from clear.Sent from my T-Mobile 4G LTE Device
-------- Original message --------From: ousnius ***@***.***> Date: 1/22/22  3:01 AM  (GMT-07:00) To: ousnius/BodySlide-and-Outfit-St

[2022-01-22 10:11] pgorbas commented on #408
Thank you very much to your quick reply.  I shall move my shortcut I put on my desktop to within my steam game directory for Skyrim.  Since I can't have a shortcut to a shortcut on my desktop, I will add the shortcut into my MO2 drop down of executables. I will try this tomorrow.Sent from my T-Mobile 4G LTE Device
-------- Original message --------From: ousnius ***@***.***> Date: 1/22/22  3:01 AM

[2022-01-22 12:29] #374 closed, assigned to ousnius

[2022-01-22 21:56] ousnius commented on #406
@sts1skj The same thing applies to performing rotations using the transform tool (`wxGLPanel::EndTransform()`).

But it could be argued that if you only rotate a small part of a mesh, the slider data shouldn't be updated alongside the transform but stay as is.

In general though, in my opinion you shouldn't be using "apply pose to mesh" without doing new slider data or re-conforming afterwards (wh

[2022-01-22 21:57] ousnius commented on #369
@AdamVezina Closing this for now. If you have more details on what exactly is going wrong or is confusing, feel free to post.

[2022-01-22 21:57] #369 closed, assigned to nobody

[2022-01-24 03:58] sts1skj commented on #292
Since no one had any suggestions, I decided to go with option 2.  It seems to work okay.  I chose to not implement any parameters; the command splits every edge between two unmasked vertices.

It would be really nice if we could mask edges instead of only vertices.  If someone ever implements edge-masks as an alternative to vertex-masks in Outfit Studio, the Refine Mesh command should be updated t

[2022-01-25 09:28] SynthOB opened #411 "MO2 - Using Root Builder Plugin causes OS to be unable to save files."
**Description**
MO2 Users using the Root Builder Plugin (https://www.nexusmods.com/fallout4/mods/43814/) cannot save files in OS

**How to reproduce**
1. Use RootBuilder
2. Launch OS through MO2 and attempt to save a project

[2022-01-25 16:04] ousnius commented on #411
@SynthOB Please report this issue to the developers of Root Builder or MO2 first. I can't do anything about the behavior of mod managers or their plugins.

[2022-01-25 19:47] enpinion opened #412 "Sliders have no effects for a baseshape"
**Description**
commit: 0f8b04a
Adjusting slider has no effect for a baseshape (aka reference)

Also, code side question:
So I'm writing a patch for this, but I'm not sure how should it be treated.
When a project gets loaded, ``shapeAttribute`` map for its baseshape will be cleared by ``project->DeleteShape()``. However, morphing meshes done by called ``OutfitProject::GetLiveVerts()`` and to get a

[2022-01-25 20:09] ousnius commented on #412
@daz001 will be looking at the issue, thanks for reporting. It was a recent regression.

[2022-01-25 21:53] ousnius commented on #412
@enpinion Should be fixed.

[2022-01-25 21:53] #412 closed, assigned to nobody

[2022-01-25 21:53] #292 closed, assigned to nobody

[2022-01-26 16:42] enpinion opened #414 "Slider data not saving properly"
**Description**
Slider data is corrupted after saving projects.
Commit version: 7db256a8c32297166f32c8447ef21adcd4864a5a

**How to reproduce**
1. Open an existing project or start a new
2. Edit existing sliders or create a new one
3. Confirm slider edit and test.
4. Save the project.
5. Reload the project.
6. The previously edited slider is broken after load

[2022-01-26 17:17] ousnius commented on #414
@enpinion Thanks, I just fixed this with fb27bfc.

[2022-01-26 17:17] #414 closed, assigned to ousnius

[2022-01-26 20:09] sts1skj opened #415 ""Affect only one vertex" option for brushes"
Currently, if you want to use an Outfit Studio brush (such as move, inflate, weight paint, or smooth) on exactly one vertex (or two if x-mirror is on), you have to adjust the Brush Size so that the brush is small enough to only hit one vertex.  You also have to click close enough to the vertex so that it's well inside the brush radius.  So I have to constantly adjust the Brush Size and precisely p

[2022-01-26 20:42] sts1skj commented on #415
Assuming we want to do this, I think the main issue is how to present the option in the user interface.  The actual functionality would not depend on the presentation in the user interface.

Idea 1: add a new option toggle: Affect Only One Vertex.  When this option is on, the existing brushes would affect only one vertex (or two if x-mirror is on).  Maybe the Size and Focus brush-setting sliders w

[2022-01-26 20:45] sts1skj commented on #415
Another question is whether it would be better to do a "Limit Number of Affected Vertices" option instead of the "Affect Only One Vertex" option.  This option would need a slider, perhaps in the Brush-Settings window, to control the maximum number of vertices affected.

I wouldn't expect this fancier option to be useful.  I don't think it would be much more difficult to implement.

[2022-01-26 20:54] sts1skj commented on #380
I've broken out the "only one vertex" idea into a separate feature request: #415 .  I think that feature should be implemented separately before implementing the vertex-snap idea.

[2022-01-27 16:28] GrafPanzer commented on #415
I don't understand the utility of this.  Currently, Vertex Edit allows you to unmask a single vertex to isolate it for editing.  Doesn't this already give you the effect you're proposing?

[2022-01-27 17:30] sts1skj commented on #415
@GrafPanzer That's an excellent point.  I didn't think of that.

[2022-01-27 18:21] #357 closed, assigned to nobody

[2022-01-27 18:52] sts1skj commented on #415
In light of the insight provided by GrafPanzer, I am now inclined to abandon this feature request.  Does anyone still want it?

[2022-01-27 19:12] sts1skj commented on #380
In feature request #415 , GrafPanzer pointed out that you can restrict any existing brush to just one vertex by just masking everything but that vertex.  So the "only one vertex" idea is far less useful than I thought.  In light of this new insight, I now prefer idea 3: making a separate "weld and then merge" tool, just as was originally proposed in feature request #302 .

Please speak up if you p

[2022-01-27 21:19] ousnius commented on #415
While having to mask/unmask everything/one vertex only to be able to do an action on said vertex isn't really a user-friendly experience, I'd also agree that making a specific feature (that maybe clutters the UI some more) for it isn't needed right now.

[2022-01-27 21:19] #415 closed, assigned to nobody

[2022-01-28 06:10] themilkdrinker0 commented on #380
That's a solution, but think as an artist, the more organic the process the better, we don't like to make steps for simple and repetitive actions and menus, we like to deal with the model and not with the software, if I need to fix a slider and for that I have to move 50 vertices, it would be pretty taxing to use masking when I could just click and move, click and move, etc. for the snap, I'm fine

[2022-01-28 07:01] sts1skj commented on #380
@themilkdrinker0 Are you saying that you want a tool in Outfit Studio that lets you move any single vertex with one mouse press?

[2022-01-28 07:29] themilkdrinker0 commented on #380
That would be great, yeah, if you guys can add the snap/merge to this tool too, it would be cool, but I'm fine if you guys prefer to go for another solution for the snap/merging vertices, but doing the way it's shown in the gif would be the best way in my opinion, you can easily optimize polycount by moving the vertices and merging them just by a click and drag, use it a lot when I create outfits

[2022-01-28 07:49] sts1skj commented on #380
@themilkdrinker0 Some tool/option for doing snap/weld/merge will be implemented soon (by me).  The only argument is about what the _best_ user interface is.

If you want me to implement a single-vertex-move tool, please say so in feature request #415 .  GrafPanzer has said he sees no use for this feature.  Ousnius (who is in charge) is uncertain, leaning towards no.  The person you need to convinc

[2022-01-28 08:20] themilkdrinker0 commented on #380
The best user interface for a 3D artist is the least one, the more you can do with shortcuts and the mouse the better.

[2022-01-28 08:29] themilkdrinker0 commented on #415
I don't see how it would clutter the UI, in Softimage, you press "M" and you can go around moving vertices, "Space" toggles any current tool off. A single vertex tool would be useful to fix sliders in new outfits, and this could be a base feature for snap/merge vertices.

[2022-01-28 08:37] themilkdrinker0 commented on #380
![image](https://user-images.githubusercontent.com/80032229/151513444-0760494d-beee-41bf-83e6-3b7a560f5211.png)
 The way it works in Softimage, you press "M" for the Move tool, you can move faces, edges and vertices with it, those buttons pop up at the bottom of the screen when you are using the tool and disappear when you are not using it, the magnet there enables snapping without merging, the sm

[2022-01-28 08:47] sts1skj commented on #415
@themilkdrinker0 Would you prefer a single-vertex-move tool that is distinct from the existing move brush?  Or would you prefer a single-vertex toggle button that changes the behavior of the move brush?

[2022-01-28 18:27] themilkdrinker0 commented on #415
A distinct tool might be better, it's usually a good idea to have mesh editing and sculpt tools separated, which is something you guys can implement in the future for the UI, a mesh editing mode and a sculpt one, this would unclutter the UI by hiding/unhiding related tools as needed.

[2022-01-28 18:39] sts1skj commented on #415
@themilkdrinker0 Do you think we should have single-vertex tools corresponding to every existing brush?  Or just one, a single-vertex move tool?

(The brushes are mask, inflate, deflate, move, smooth, undiff, weight, color, and alpha.)

[2022-01-28 18:44] themilkdrinker0 commented on #415
No, just a single vertex move is enough.

[2022-01-30 07:29] themilkdrinker0 opened #417 "Mirror weights"
A mirror weights tool, just a button actually, it be useful to fix weights that are not in perfect symmetry, it could also be useful to for the skinning process, so I wouldn't have to pose both sides to paint, I could just work on one side and then mirror the weights to the other side to speed up the process, given the topology is perfectly symmetrical of course.

OS already can pick the mirrored

[2022-01-30 07:41] themilkdrinker0 opened #418 "Double axis transform tool manipulation"
![Desktop-2022 01 30---04 32](https://user-images.githubusercontent.com/80032229/151691026-181c37e5-6a41-4060-8d7c-8d4a6204fcdf.gif)

Make it possible to manipulate 2 axis at the same time in the transform tool to make stuff like that, using scaling there, but it would be useful for moving as well.

[2022-01-30 11:41] #411 closed, assigned to nobody

[2022-02-02 20:16] sts1skj commented on #302
@MrManMain @rcodegrove Pull request #419 implements a new move-vertex tool that has options for weld and merge.  Is this sufficient to satisfy your feature request?

I apologize for taking so long to implement this (18 months).

[2022-02-02 20:22] sts1skj commented on #380
@themilkdrinker0 Pull request #419 implements a move-vertex tool with five tool options, including merge and weld options, which should satisfy your second feature request (snapping to a vertex), and a restrict-to-surface option, which should partially satisfy your first feature request.  (It only provides partial satisfaction because it only does one vertex at a time.)

I plan on eventually imple

[2022-02-03 14:52] GrafPanzer commented on #320
Following up on this again.  I got a question about [my conversion guide](https://www.nexusmods.com/fallout4/mods/50006) the other day that made me think this request is still relevant.  Segments are important for VATS targeting in Fallout, as well as for dismemberment.  An automated way to paint segments would be very handy.  Instead of using the Copy Bone Weights algorithm, could it use the Conf

[2022-02-03 18:49] themilkdrinker0 opened #420 "Move brush improvements"
OS move brush feels weird, I don't know how the 3D softwares do it, but I took some screenshots as an exemple:

Zbrush | Softimage | OS

![Untitled-1](https://user-images.githubusercontent.com/80032229/152407935-cf58b7e8-6d15-4641-be3d-28d9c9011199.jpg)

Also, that's the maximum radius brush size in OS, it would be nice to have it extended.

[2022-02-03 18:50] themilkdrinker0 commented on #380
Sounds great!

Might want to improve the move brush first tho, I opened a new request: https://github.com/ousnius/BodySlide-and-Outfit-Studio/issues/420

[2022-02-03 18:55] sts1skj commented on #420
@themilkdrinker0 What if you fiddle with the "Focus" brush setting slider?

[2022-02-03 19:01] themilkdrinker0 commented on #420
1.0 Focus

![image](https://user-images.githubusercontent.com/80032229/152410192-0cb4b014-1f99-4c7c-af70-1b0b1f9c0edf.png)

0.1 Focus

![image](https://user-images.githubusercontent.com/80032229/152410361-5ab52b0d-6b9b-4928-8e05-1f8b6fbe6778.png)

Same brush size.

[2022-02-03 19:04] sts1skj commented on #420
@themilkdrinker0 But what about more intermediate values for brush focus? .2, .3, .5, .7, .8?

(I agree the "Size" brush setting needs a higher maximum than 1.0.)

[2022-02-03 19:08] themilkdrinker0 commented on #420
0.2 seems to give the best result, but could be more responsive, that's dragging all the way to the corner of the screen, it would be nice for it to deform closer to the mouse movement.

![image](https://user-images.githubusercontent.com/80032229/152411855-4428cb65-6959-492d-a068-3d878ab6629b.png)

[2022-02-03 19:14] sts1skj commented on #420
Here's the formula for how focus affects the strength of the move at a vertex whose distance from the pointer is "d":

sd = d / radius

strength = (1 - sd^2) * (1 - (sd / focus)^4)

where "radius" is the brush size and "focus" is the focus brush setting, 0<focus<=1.

I have no idea where this formula came from; it's from before I started working on Outfit Studio.

It looks like Zbrush and Softimag

[2022-02-03 19:48] themilkdrinker0 commented on #420
Zbrush also has a second circle inside the brush display circle to represent the focus, this could be helpful too.

[2022-02-03 20:26] sts1skj commented on #420
Here's a graph of the brush strength as a function of d / radius for focus of .1, .4, and .8 (using the formula above, which is from the current Outfit Studio 5.5.2 source code):

![image](https://user-images.githubusercontent.com/59774938/152423195-d542031a-0ee4-4e30-abf0-a3eead1e5de3.png)

To me, there are some problems evident in these curves:
1. The nonzero portion does not extend to 1.
2. The

[2022-02-04 00:05] #302 closed, assigned to nobody

[2022-02-04 00:05] #380 closed, assigned to nobody

[2022-02-04 20:29] sts1skj commented on #420
Ack!  The formula I gave above is for focus<.2 .  A different formula is used for .2<focus<1 .  So the graphs above are labeled wrong: those are for focus=.08, .02, and .16, not .4, .1, and .8 .

The formula used currently for .2<focus<1 is:
x = 5 * focus * (1 - sd) - 1
strength = (1 - x^2) * (1 - x^4) if x < 0
strength = 1 if x >= 0

Here are the graphs:
![image](https://user-images.githubusercon

[2022-02-04 20:50] sts1skj commented on #420
Here's an updated graph combining both ranges for focus:

![image](https://user-images.githubusercontent.com/59774938/152601168-f8259abb-3146-4c8f-9cdf-862ccb50713d.png)

[2022-02-04 21:02] sts1skj commented on #420
@themilkdrinker0 Could you post your nif file with the sphere that you used in your screenshots?  I want to test some possibilities.

Looking at your screenshots, I can see why .2 would give the best result: it has the nicest-looking curve in the graph.

[2022-02-05 02:51] themilkdrinker0 commented on #420
[Sphere.zip](https://github.com/ousnius/BodySlide-and-Outfit-Studio/files/8007235/Sphere.zip)

[2022-02-05 03:21] sts1skj commented on #420
Here's a possibility that I'll name "the cubic option":

p = 6^(2 * focus-1)
x = sd^p
strength = 2 * x^3 - 3 * x^2 + 1

(I chose the number "6" in the formula to give reasonable extremes: the higher that number, the more pointy it is at 0 and the more flat it is at 1, with .5 staying the same.  The other numbers in the formula are necessary for this function to work.)

Here's a graph:
![image](htt

[2022-02-05 04:00] themilkdrinker0 commented on #420
Looks good to me, just make the 0.5 the default value when opening OS.

[2022-02-05 04:15] sts1skj commented on #420
@ousnius What do you think?  May I replace the formula in TweakBrush::getFalloff with the new formula, get rid of the factor-of-5 scaling, and set the default to .5 for all brushes?

themilkdrinker0 also requested that the maximum brush size be increased.  It looks like, internally, brush size is scaled by 3.  May I increase the scaling to 10?

[2022-02-05 15:17] ousnius commented on #420
@sts1skj Yes, please do so I can play around with the new formula myself. Feel free to increase the scaling to 10, but make sure to adjust the default size (0.150 right now) accordingly to be the same size it is currently.

[2022-02-05 18:39] #420 closed, assigned to nobody

[2022-02-05 18:40] sts1skj commented on #420
@themilkdrinker0 Ousnius and I have played with the new brush scale some, and we don't like 10, so we're going to keep the old brush scale of 3.  But we're also increasing the maximum size of the value that can be input into the text field next to the slider from 1 to 10, so you'll be able to get a larger brush size by typing in the number you want.  We're also increasing the precision of the text

[2022-02-05 19:09] sts1skj commented on #417
I agree that a "Mirror weights" command is a desirable feature; I've encountered the situation you mention myself.

Internally, the "Copy Bone Weights" code uses the AutoMorpher.  That's a part of Outfit Studio I haven't touched before.  So, if I were to implement this feature request, it would likely take me a lot of work.  At the moment, I'd prefer that someone else did it.

I wonder if it would

[2022-02-05 22:36] sts1skj commented on #253
Pull request #423 implements 2 and 3.

[2022-02-05 22:46] sts1skj commented on #380
@themilkdrinker0 Pull request #423 gives a rough solution to your first feature request: the new restrict-plane option for the move brush.  But to truly replicate your video of points moving over the surface of the sphere, I'd have to implement the restrict-surface option for the move brush.  That could be quite complicated.

When you have time (once the updated Outfit Studio becomes available to

[2022-02-06 21:25] themilkdrinker0 commented on #253
Zbrush smooth struggles with triangles too, it only works well with squares, not sure if you can make OS to guess what is supposed to be a square cut in half.

[2022-02-07 19:46] themilkdrinker0 commented on #417
Like this?
![image](https://user-images.githubusercontent.com/80032229/152860463-fddb2ff6-f080-43b9-99dc-5419db5e7364.png)

[2022-02-07 19:48] sts1skj commented on #417
Yes.

[2022-02-10 20:52] sts1skj commented on #379
A lot of code changed between 4.9.1 (January 11, 2020) and 5.0.7 (May 30, 2020).  I made my first pull request on January 19th, and over the coming months I changed a lot of code, including major changes to bones and coordinate system handling.  Some commits that may have broken "special cloth" bone weights:
- commit 9bf2f9a : Feb. 29: clean up coordinate transforms
- commit c338568 : Mar. 5: impl

[2022-02-10 21:22] sts1skj commented on #320
Internally, the Copy Bone Weights algorithm uses the same code as the Conform Sliders algorithm.  Doing something similar for copying partitions and segments should be possible, but with some significant differences.  The big difference I see is that "Copy Partitions or Segments" would operate on triangles, not vertices.  How should triangle proximity be measured?  Should the three vertex coordina

[2022-02-11 01:11] sts1skj commented on #320
I've implemented a bare-bones version of this algorithm in pull request #426 .  It ignores the mask.  All partitions or segments in the target shape are wiped out.  It doesn't do a great job with segment/partition boundaries, which are often a bit jagged.

@GrafPanzer Is this good enough?  Or do I need to do more?

[2022-02-11 03:00] Indarello commented on #379
F4
[test copy weight.zip](https://github.com/ousnius/BodySlide-and-Outfit-Studio/files/8045686/test.copy.weight.zip)

[2022-02-11 05:36] sts1skj commented on #379
Some preliminary observations from examining testcopy.nif, which has shapes "bot" and "try to copy weight here":
1. I don't have Fallout 4.  So I can't test directly in the game; I can only rely on Outfit Studio and NifSkope.
2. If you turn on "Show Pose" in Outfit Studio, it shows the same twisted dress as NifSkope shows.
3. If you turn off "Do Skinning" in NifSkope, it shows the dress untwisted,

[2022-02-11 12:03] Indarello commented on #379
I cant find any buttons you asking, probably they don't exist in F4 outfit studio
I just imported dress from .obj and I just simply copied boneweight, and I think it should work ok, I dont udnerstand all this development staff "global-to-skin transform", "vertex to map" and so on, please dont ask me about them or provide images what button I should press to give you this info.
I just noticed that

[2022-02-11 17:00] sts1skj commented on #379
@Indarello I apologize for my long technical post.  I should have realized it would not be useful to you.  I have a bad habit of inflicting long technical explanations on my colleagues when I get excited about something I'm working on.  I'm sorry.

[2022-02-11 18:39] sts1skj commented on #379
@ousnius Ideas for solutions

This is assuming my reasoning above is correct.  I see the problem as this: how to help the user fix the bad data.  Fixing the bad data manually is very difficult, as far as I know.

Idea **1**: When loading a skinned mesh from any source, check for inconsistencies between node and skin data.  (Node data gives the bone-to-global transform.  Skin data gives the skin-to

[2022-02-11 20:23] sts1skj commented on #417
I've taken a look at the existing code for "Copy Bone Weights" and "Conform Sliders", which are the two Outfit Studio commands that use the automorpher.  For Copy Bone Weights, it creates a temporary slider for each bone (with names like "NPC Pelvis [Pelv]_WT _"), fills the temporary sliders with weight data from the reference shape, does Conform Sliders for these sliders, copies the results to th

[2022-02-11 20:57] sts1skj opened #427 "Vertex count reducer"
I've come across a few shapes in NIF files where every triangle had its own vertices.  The number of vertices was three times the number of triangles.  Many, many vertices could be safely merged, reducing the vertex count by roughly a factor of three.  Though the merge option on the move-vertex tool lets you merge vertices one at a time, it would be nice if this could be automated.

I've seen othe

[2022-02-12 15:20] MadCat221 opened #428 "Targeted Vertex Snap between TriShapes"
Can a means to target-snap one vertex to another on a separate trishape (and of course on the same trishape) be implemented? It would be immensely useful for sealing up seams between shapes that have congruent border edges, such as the gold trim and main blue coverall on the FO4 Vault Suit.

[2022-02-12 15:21] ousnius commented on #428
@MadCat221 This was implemented in #419 that I linked you.

[2022-02-12 15:21] #428 closed, assigned to nobody

[2022-02-13 11:06] Indarello opened #429 "Import from .obj - deformed model"
game: fallout 4
Import from .obj (model looks ok)
Save project
Reopen project and model deformed now, best seen in the eye area
I tested several older versions 5.x and 4.9.1, same problem for all of them
[untitled3.zip](https://github.com/ousnius/BodySlide-and-Outfit-Studio/files/8055396/untitled3.zip)

[2022-02-13 17:42] GrafPanzer commented on #320
Sorry, I need to check my email more often.  I think I've now set up mobile push notifications for conversations I'm in here.

Thanks for taking a shot at implementing my request.  Unfortunately I'm not a programmer, so can't give any feedback on your code, and I'm not competent to install your pulled files until they're merged back into a release.  Sorry again.  I'm happy to learn if it's simple,

[2022-02-13 17:52] sts1skj commented on #320
@GrafPanzer My computer runs Linux.  I don't have a Windows or MacOS computer.  I can easily provide a Linux executable of Outfit Studio, but it's highly unlikely you'd be able to use it.  As for how to build Outfit Studio on Windows, I've never done it myself, so I don't know how it works.

[2022-02-13 18:13] GrafPanzer commented on #320
Okay, thanks.  So what will happen with the code your wrote?

[2022-02-13 19:01] sts1skj commented on #320
Right now, Ousnius is busy.  Once he has time, he'll take a look at what I've written.  If he has any comments or suggestions, we'll discuss it, probably in the pull request #426 thread.  (Add yourself to the notification list for that thread if you want to be notified as we discuss it.  You can join in too, of course.)  Since this is a fairly non-controversial pull request, there's a good chance

[2022-02-13 19:18] ousnius commented on #320
I've tried the feature. It's working fine and should be doing what @GrafPanzer wanted it to do. It'll be in the next release.

[2022-02-13 19:18] #320 closed, assigned to nobody

[2022-02-13 19:34] GrafPanzer commented on #320
Super!  Thanks @sts1skj for the detailed explanation.  I really appreciate it.

[2022-02-14 01:48] sts1skj commented on #429
@ousnius I think it's highly likely this got broken in commit 94ccd2d (Dec. 23, 2020) "Import OBJs as static shapes".  In commit bc97fa5 (Aug. 12, 2020) "Added checks for skin coordinates for FBX and OBJ", I added code for setting the global-to-skin transform on import of FBX and OBJ.  But with no skinning for new OBJ and FBX shapes, the global-to-skin transform is discarded, leaving the shape wit

[2022-02-14 02:04] sts1skj commented on #429
@Indarello Until we get this bug fixed, here's a workaround.  I'm sorry it's so complex.
1. Load a reference (such as CBBE Body).
2. Import your Head OBJ.
3. Go to the "Bones" tab, select a bone, and paint some weight all over the head.
4. Go to the "Meshes" tab and double-click your Head shape to open the Shape Properties window.
5. Go to the "Coordinates" tab, click on the "Z" field below "Origi

[2022-02-14 02:12] sts1skj commented on #429
@ousnius Here's an alternate idea: when loading an FBX/OBJ shape, maybe letting it be unskinned (static) initially is okay, if the reference's global-to-skin transform is used to initialize the static shape's node-to-global transform.  Then, when the user does something to skin the shape, maybe the node-to-global transform could be used to initialize the new global-to-skin transform.

[2022-02-14 15:08] ousnius commented on #429
@sts1skj If I'm not mistaken, copying bone weights to a shape should bring over the global-to-skin transform from the reference already?

[2022-02-14 17:04] ousnius opened #430 "Allow selecting .osp file in "Pack Project" dialog"
In addition to typing the .osp file name out, selecting an existing .osp file name should be possible through a button that opens the file browser.

[2022-02-14 19:26] sts1skj commented on #429
@ousnius Yes, doing Copy Bone Weights to an unskinned shape will cause it to copy the reference's global-to-skin transform.  This is (or was) a good thing.  But there are good reasons why this should not be the _only_ place the transform is copied:
- The user may choose to create the bone weights (and thus the skinning) by painting, not copying, in which case the transform is never set.
- The user

[2022-02-14 20:24] sts1skj commented on #417
@ousnius I like the Symmetrizer idea.  I think I'm ready to start work on it.  Do you have any comments or suggestions?  In particular, I'd like to know if you find any part of this idea silly, pointless, or redundant.

[2022-02-15 23:06] GrafPanzer opened #432 "Import from .obj - Undesired Shape Translation"
I've just read the conversation at Issue #429, and want to bring this related issue up in case it hasn't already been addressed.  My apologies if I'm retreading old ground.

Game: Fallout 4
Problem:  Copying global-to-skin transforms from a reference model to an imported .obj generates undesired translation of the target mesh.

How to reproduce:
1.  Import an .obj (freshly exported from Blender) t

[2022-02-17 05:05] MrAnnonymous00 opened #433 "(FO4) Segment bug still occurs."
I don't know how to reopen a closed issue, so I open a new one.
[This is the closed issue page I posted before.
](https://github.com/ousnius/BodySlide-and-Outfit-Studio/issues/378#issue-988656146)
It still happens with the lastest version of Outfit Studio.

![00](https://user-images.githubusercontent.com/90162452/154407079-f9ba72fe-d477-441f-9ced-8059e71401f7.png)
Loaded Combat Armor in CBBE Vanil

[2022-02-18 22:46] themilkdrinker0 opened #435 "Mirror Brush Display"
As shown in the gif, you can see it through the mesh too.

![Bodyslide-2022 02 18---19 40](https://user-images.githubusercontent.com/80032229/154771259-611c325d-7f1d-4e61-8a3e-e8e4ad3fb5ef.gif)

[2022-02-18 23:08] sts1skj commented on #417
Here are the choices I made for the questions I asked in my earlier post:
- The individual points that would be updated by the symmetrizer are not listed.  But the interface gives a discrepancy count and an average discrepancy.  You can also use "Mask Symmetric Vertices" to show you which vertices will change in the symmetrizer.
- All three coordinates are updated for position and position-slider-

[2022-02-19 04:03] sts1skj commented on #432
This bug is in OutfitProject::ImportOBJ, at the end of the function, in the block `if (copyBaseSkinTrans)`.  The minimal code fix would be to just delete this block.

The "global-to-skin transform" is typically stored in three places inside Outfit Studio:
- In the NifFile object, which is supposed to directly represent the file.
- In the AnimSkin object, which has skin information in a convenient

[2022-02-19 07:49] sts1skj commented on #329
@Evan555alpha I was unable to reproduce your bug by trying to follow your instructions, but I was able to trigger it.  The key trigger was this: hitting apply while the last segment or subsegment was empty.  (By empty, I mean it had no triangles assigned to it.)

Hopefully I have finally fixed this bug in https://github.com/ousnius/nifly/pull/26

[2022-02-19 07:51] sts1skj commented on #378
Hopefully I have fixed this bug in https://github.com/ousnius/nifly/pull/26

[2022-02-19 07:54] sts1skj commented on #433
Hopefully I have fixed this bug in https://github.com/ousnius/nifly/pull/26 .  The bug was originally my fault.

[2022-02-19 16:01] #433 closed, assigned to nobody

[2022-02-19 16:01] #378 closed, assigned to nobody

[2022-02-19 20:43] sts1skj commented on #435
When X-Mirror is on, the Move Vertex tool (which you probably haven't seen yet) already does this.  For the Move Vertex tool, the highlighted mirror vertex is exactly the vertex that will be mirror-moved if you click.  The mirror vertex is computed like this: the camera position is mirrored; the direction from the camera towards the surface is mirrored; these give a ray in space; the location on t

[2022-02-19 21:51] themilkdrinker0 commented on #435
Well, that was just an idea, mirroring the brush circle would be just as useful.

[2022-02-19 22:09] GrafPanzer commented on #432
Great, I'm glad this is already fixed in the fix to #429.  Until that's released, it's good to know that my workaround is valid.  Thanks for the rundown on what's happening in the background.  That mess is a good lesson in how painful backward compatibility can be to program, I guess.  Thanks again.

[2022-02-26 15:59] #417 closed, assigned to nobody

[2022-02-27 11:59] #435 closed, assigned to nobody

[2022-03-02 20:56] sts1skj commented on #429
Pull request #439 does not fully implement the plan I suggested above.  In particular, it only does the two "preserve" parts and not the "set" or "remove" parts.

Ousnius argued that setting the shape's origin to its center, while it would help preserve the quality of the vertex coordinates, would result in every shape having a different origin.  He said that every vanilla Fallout 4 skinned shape

[2022-03-02 21:08] sts1skj commented on #429
@Indarello Once my pull request is integrated and released, which will probably be in Outfit Studio 5.6.0, the workaround for your issue will become:
1. Load a reference.
2. Import your Head OBJ.
3. Do either one of these (or both):
   A. Open Shape Properties and set the Z coordinate of the Origin to 121.
   B. Do Copy Bone Weights.
4. Save your NIF.

I've tested this with your untitled3.obj, and

[2022-03-03 23:34] sts1skj opened #440 "Custom bones don't appear right with "Show Bones" or "Show Nodes""
Custom bones don't appear at all when you turn on "Show Bones".  They do appear when you turn on "Show Nodes", but their location doesn't update when you change them with "Edit Bone".

[2022-03-04 17:38] #253 closed, assigned to nobody

[2022-03-04 17:47] #429 closed, assigned to nobody

[2022-03-04 17:47] #432 closed, assigned to nobody

[2022-03-04 17:49] ousnius commented on #429
As sts1skj mentioned, the fix for this (in the next version) is copying bone weights, which will copy transforms.

[2022-03-06 23:53] sts1skj commented on #440
Pull request #441 fixes the first problem: custom bones don't appear.

The second problem is apparently because NiNodes are not updated until the NIF is saved.  Until then, the copy of NiNode data in AnimSkeleton can be out of sync with the copy in NifFile.  I don't know why OS works this way, so I don't know whether it makes sense to fix this problem.

[2022-03-07 06:43] ousnius commented on #440
Yes, I knew about the second problem and decided it's too dangerous fixing it/changing that behavior.

[2022-03-07 21:07] FramFramson opened #442 "Numeric fields (or at least basic multipliers/dividers) for the UV rescale tool."
In reusing small or partial meshes I have at times wanted to consolidate these into smaller texture files, or incorporating already-small textures images into larger ones, but the issue is that the UV editing tools in OS lack any means of inputting precise values.

For example I took a belt from a complete outfit to reuse elsewhere. The texture file for the original mesh is a typical 2048 x 2048,

[2022-03-08 12:49] GrafPanzer opened #443 "Automatically triangulate imported meshes"
Outfit Studio does not currently handle mesh faces with more than three sides.  Upon importing an .fbx or .obj with multi-sided faces, OS typically omits the 4+ sided faces (I think it sometimes triangulates them, not sure).  A better way to handle this would be to automatically triangulate all faces upon import, so users don't inadvertently end up with holes in their meshes.  [Inspired by a user

[2022-03-08 13:12] GrafPanzer commented on #427
I think these functions could be useful, since simpler meshes use less resources, and any mesh over about 24k tris doesn't properly dismember in Fallout 4.  If you implement these, I'd suggest limiting them to only the unmasked area of a mesh.  They would be similar to the Merge By Distance, Decimate Geometry, and Limited Dissolve functions in Blender.  It is important to keep all the original UV

[2022-03-08 18:30] sts1skj commented on #443
I've taken a look through ObjFile::LoadForNif (which is Outfit Studio's function for parsing OBJ files), and it looks to me like it currently can handle faces with 3 or 4 vertices, but not more.

@GrafPanzer Is it possible that OBJ import only misbehaves for faces with 5 or more vertices, and works okay for 4?

[2022-03-08 21:22] ousnius commented on #443
FBX import triangulates the mesh, however the UV map will be screwed up as it won't account for actually splitting up the mesh where the UV island seams are located.

OBJ import can handle quads (iirc it should turn them into two triangles, but need to check). I don't know if the OBJ format by itself even supports polygons with more than 4 points.

[2022-03-08 23:51] sts1skj commented on #218
Could someone please test to see if PR #444 fixes this issue?

[2022-03-09 00:14] sts1skj commented on #218
<s>I saw something puzzling in the FBX import and export code: the vertex coordinates had x,y,z swapped around, but the normals didn't.  This might mean that FBX import and export of normals messes up the normals in a reversible way.  Could someone please check?  If it is messed up, it should be easy to fix.</s>

[2022-03-09 00:19] sts1skj commented on #443
<s>Could someone please verify that PR #444 fixes this issue?  More specifically, can you now import OBJ files with more than 4 vertices per face, and can you now import FBX files with more than 3 vertices per face?</s>

[2022-03-09 19:46] sts1skj commented on #443
Verified importing a hand-written OBJ with a hexagon:
[code]

[2022-03-10 05:53] thanos13356 opened #445 "i cant see anything in the bodyslide"
i downloaded the bodyslide from nexus mods and installed it on vortex but when i open it i nothing works it doesnt have any preset not any slides to create the body the build and preset button doesnt do anything and i have tried numerous things like reapering my game but nothing works also i have it for fallout 4
![unknown](https://user-images.githubusercontent.com/101312792/157598381-e7afdf4c-837

[2022-03-11 06:47] ousnius commented on #445
@thanos13356 Please look for support on the mod page or in the Discord server.

[2022-03-11 06:47] #445 closed, assigned to nobody

[2022-03-11 15:05] GrafPanzer commented on #443
Thanks for taking a look at this, sts1skj.  Sorry, but once again I'm not competent to verify fixes before they're merged and published.

[2022-03-19 15:14] #379 closed, assigned to nobody

[2022-03-19 15:14] #406 closed, assigned to nobody

[2022-03-19 15:14] #440 closed, assigned to nobody

[2022-03-19 15:39] #218 closed, assigned to nobody

[2022-03-19 15:39] #443 closed, assigned to nobody

[2022-03-28 06:22] JunktownJerkyVendor opened #448 "Produced outfit causes crash in game(AE)"
I made a bodyslide for the light refracting glass(converted with CAO), I only features I used was bone weights and conform selected. The pre-bodyslide mesh works in game but after building it causes a crash in-game, it displays in OS and Bodyslide.

The crash logs seems to indicate that something went wrong will working with the partitions.

The three stages of mesh
[ShapeData.zip](https://github.

[2022-03-28 15:57] ousnius commented on #448
@JunktownJerkyVendor Thanks for the detailed report. However, this isn't a bug with BodySlide or Outfit Studio.

You said you converted the NIF file using CAO, I'm assuming from LE to SE. However, while the file version of the NIF file was changed from 83 (LE) to 100 (SE), the shapes are all still NiTriShape instead of BSTriShape.

This isn't expected and generally shouldn't be done especially for

[2022-03-29 00:12] JunktownJerkyVendor commented on #448
I see, but since it works in-game shouldn't this suite, support a configuration that the game supports?

[2022-04-04 00:09] GrafPanzer opened #449 "Copy from Shape does not copy all properties"
In Outfit Studio, the command Shape > Properties > Copy from shape... does not copy all properties.  For Fallout 4 shapes, for example, Root Material, Subsurface Rolloff, and Grayscale to Palette Scale are not copied.  These properties can be copied in NifSkope, but if OS copied all properties it would eliminate the extra step of copying properties in NifSkope.

[2022-04-04 10:23] mrudat commented on #350
I think that it might be easier to make the outfit picker in the main window optionally grouped by output path, possibly removing the need for many users to use the "Choose output" dialog.

Something like:
[code]

[2022-04-04 10:40] ousnius commented on #350
@mrudat There's already an "output dropdown" that resembles what you're saying in the main BodySlide window. At the bottom, where the output path is shown in grey, teal or red, you can perform a right-click and it will show all outfits that output to the same path.

Choosing one of the entries, you can jump to the outfit and check the checkbox to make it the default for the batch build selection.

[2022-04-04 11:42] mrudat opened #450 "It would be useful to have tags/icons to declare which outfits have which features."
Quickly identify which outfits have which kinds of extra data/features, eg. Physics data. to make a more informed choice between alternate outfits.

It would be useful to have tags/icons to represent certain kinds of extra data or features that outfits can have, for example:
* Physics data
* Collision mesh(es)
* Bone (ie. Skeleton) requirements
* High heels information

I'm not sure how many of th

[2022-04-04 11:48] ousnius commented on #450
@mrudat All of them differ from game to game (or between body mods), so none of them can be identified automatically. A tagging system would make more sense, but relies on mod authors tagging their projects correctly (or at all) and wouldn't apply to existing projects.

[2022-04-04 11:51] mrudat commented on #350
I've noticed that and it's awesome, as well as the choice being saved (thanks for adding that), but it's a bit tricky to use, compared to starting from a list of conflicting paths, like "Choose Outfits" does, and then being able to pick from a list of only those outfits, then flick between them to compare to make sure you've got the one you want.

I'm never quite sure if I've inspected everything.

[2022-04-04 12:13] mrudat commented on #450
A manual tagging system would probably still be useful?

Some authors effectively already add tags in the outfit name, but it would be most useful where the author hasn't done so (and thus there is confusion), and thus less likely to occur as a future update if they weren't motivated to do so the first time around.

Perhaps allow a set of arbitrary strings to be attached as tag names, but have (ga

[2022-04-04 14:02] ousnius commented on #450
There's also the basic issue of not being able to have icons in dropdowns or checked list boxes with wxWidgets (without custom rendered widgets).

[2022-04-04 16:19] ousnius commented on #449
@GrafPanzer The feature was originally never intended to fully copy the shader with all its values and children blocks, but only fill the shape properties dialog with the values for the fields it has.

I've enhanced the feature to fully copy everything now.

[2022-04-04 16:19] #449 closed, assigned to ousnius

[2022-04-06 05:17] Lapig opened #451 "Fallout 76"
It would be nice to just allow meshes from FO76 to be opened even if it's not officially supported or anything like that. As is the meshes' themselves can be edited with almost no issue that I've seen, materials caused problems but even with no material support it would still be very useful

[code]

This was my hackjob patch set that I used and then running outfitstudio in FO4 mode, loading a FO76

[2022-04-06 05:59] ousnius commented on #451
@Lapig The reason FO76 NIFs aren't loading isn't a technical one, I made a decision not to support modding a multiplayer game, potentially causing issues.

[2022-04-06 07:47] Lapig commented on #451
That's understandable, I don't see much of a potential for malicious or harmful use to the point that it should be explicitly disabled but if that's your decision and you're deadset on it I'll respect that, appreciate all your work regardless cheers

[2022-04-06 16:23] GrafPanzer commented on #449
Thanks for enhancing it.  That will significantly simplify the workflow.  It was really close to a full copy before, so I thought I'd ask.

[2022-04-18 17:23] OdinMods opened #452 "Weight/vertex painting for large objects."
Hi. I requested this a while back on the Discord, but I wanted to make a formal request here.

I wanted to use Outfit Studio to weight paint and vertex paint my tree objects. Having a "fill" tool and increasing the brush size for large objects would make this pipeline more useable as for now it's very tedious.

Example object where the fill tool would be extremely useful.
![unknown](https://user-i

[2022-04-19 23:59] sts1skj commented on #452
@OdinMods In commit 7230018e (PR #422), we increased the maximum brush size from 1 to 10 (but you have to type values larger than 1 into the text field).  Hopefully that'll be big enough to cover an entire tree.  Commit 7230018e has not yet been released; it should be in the next major release of Outfit Studio.

As an alternative to a "fill" tool for weight painting, you can turn on the "Edit Conn

[2022-04-22 20:20] ousnius commented on #451
The required pieces for this should all be in place now.

[2022-04-22 20:20] #451 closed, assigned to nobody

[2022-04-22 20:39] ousnius commented on #448
I've brainstormed this a few times now, but it's too messy to add support for saving out this combination properly (SSE version with a skinned NiTriShape), so I won't be doing it right now.

Closing this for now.

[2022-04-22 20:39] #448 closed, assigned to nobody

[2022-04-22 20:47] ousnius commented on #430
Adding this wouldn't make for a great user experience, since the created .osp file might not exist, but is always created in the root folder, or could even be created in just the archive (instead of as a loose file).

A file browser in save mode wouldn't make sense since the file might not even be saved there as a loose file (when the "Pack Archive" method is used).

Closing for now.

[2022-04-22 20:47] #430 closed, assigned to nobody

[2022-04-22 21:59] ousnius commented on #442
@FramFramson I added translate, rotate and scale dialogs to the UV editor, allowing you to enter specific values in a text field and using a slider. Keyboard shortcuts: T, R and S.

[2022-04-22 21:59] #442 closed, assigned to ousnius

[2022-04-25 09:02] ousnius opened #454 "Retain sliders/weights with "Convert/Replace Body Reference""
Feature request by a Nexus Mods user:

Add feature to retain (don't copy) weights from the new reference.

[2022-04-25 17:38] Rabcor opened #455 "Cmake fails on Linux (lib/nifly/src/Animation.cpp not found)"
Output of cmake command:
[code]

This Animation.cpp is indeed missing from the release files; the lib/nifly directory is empty.

Copying the files over from the nifly git fixes it, the files need to be included in the release tarball.

That said, the make command fails after this too, this is a different issue but I didn't feel it deserved a separate post. If I try to build from Release (as sugges

[2022-04-25 19:12] ousnius commented on #455
Unfortunately I have no experience with wxWidgets on Linux, so I can't help with that. @sts1skj might be able to, as he builds and uses it successfully on Linux.

As for the "missing" lib/nifly files - nifly is a Git submodule that you need to pull, which is why the files aren't there initially. Manually copying over the files works initially, but is the wrong thing to do. You should read about ho

[2022-04-25 22:01] sts1skj commented on #455
@Rabcor:
1. The cmake warning about OpenGL versions and policy CMP0072 was fixed in commit 94555ac.  So you're not using the latest source code.
2. You're not using the latest source code.  Judging from your source code directory name "BodySlide-and-Outfit-Studio-5.5.2", I would guess you're using the 5.5.2 release source code, which is quite out of date.  Use the latest source code.  Note that ou

[2022-04-25 23:38] Rabcor commented on #455
[code]

I cloned the repo  this time instead of downloading the release, used the command you suggested to fetch nifty, ran cmake as suggested which worked, then make which  failed more or less the same way as before:

[code]

I am running manjaro, I'm using GCC 11.

[code]

I'd like to get this working, but I'm pretty clueless how to troubleshoot these kinds of things, I'm not much of a developer

[2022-04-25 23:42] sts1skj commented on #455
I'll try compiling with the gtk3 version of wxWidgets when I have time.  In the meantime, I suggest trying the gtk2 version of wxWidgets, since that's what I use.  Maybe that will make things work.

[2022-04-26 00:24] Rabcor commented on #455
I tried with wxgtk2 instead of wxgtk3, but I just got the exact same error.

However I manged to get my hands on wxgtk2 3.1.4.

That worked significantly better, but still eventually failed:

[code]

I also tried 3.0.5 but that failed even more spectacularly than my first attempt.

[2022-04-26 05:07] sts1skj commented on #455
If I recall correctly, the error message "conversion from ‘wxString’ to non-scalar type ‘std::string’" disappears if you build wxWidgets with the "--enable-stl" option.  So I'm pretty sure your build of wxgtk2 is missing this critical build option.

Alternatively, we could make that error message go away by changing every single line where it occurs.  I think all you would have to do is replace "b

[2022-04-26 05:11] sts1skj commented on #455
@ousnius What version of wxWidgets do you use?  The latest version is 3.1.6.  I've been using 3.1.3 the past two years.

[2022-04-26 06:14] sts1skj commented on #455
@Rabcor I just found something puzzling: the string "GetClassInfoW" only appears in one place in wxWidgets, both 3.1.3 and 3.1.6: in include/wx/msw/winundef.h.  In that file, it undefines "GetClassInfo" which is apparently defined as a macro for "GetClassInfoW" by some Windows API header file.

On line 84 of wx/stream.h, a member function of wxStreamBase is declared named GetClassInfo.  But your e

[2022-04-27 02:00] sts1skj commented on #455
I've built wxWidgets 3.1.6 with both gtk3 and gtk2, with no configure options, and built BS&OS with each.  I got a weird GLEW error with gtk3 that I didn't get before; apparently this is a problem with newer versions of wxWidgets.  I also got lots of wxString-to-std::string conversion errors, of course.

I fixed the string conversion errors by adding ToStdString in about a dozen places.  I added c

[2022-04-27 14:46] ousnius commented on #455
@sts1skj I use the latest master, because there's been PRs merged into wxWidgets that I made that are required for some functionality to work.

[2022-04-27 19:34] chriku commented on #455
Get the same error (also `virtual wxClassInfo* wxStreamBase::GetClassInfoW() const’ marked ‘override’, but does not override` just in `/usr/include/wine-development/wine/windows/winuser.h:3772:60`)

The collision occurs for me on debian using `libwine-development-dev` version `6.23~repack-1`:

[code]
Will fix this for me by ripping wine to shreds, but maybe this helps for any of you

[2022-04-28 00:10] sts1skj commented on #455
@chriku You're right: I misread the code in winuser.h.  It _does_ define `GetClassInfo` as a macro for `GetClassInfoW`.  That's bad.

winuser.h is included by windows.h.  windows.h is included by dxgiformat.h.  dxgiformat.h is included by BS&OS's lib/DDS.h.  lib/DDS.h is included by lib/FSEngine/FSBSA.cpp, which is the source file being compiled that generates the error.

So maybe the reason the `

[2022-05-01 01:44] sts1skj commented on #455
@Rabcor Ousnius has merged PR #456 as commit b106b78.  I suggest you update your source to this commit, as it fixes the "conversion from ‘wxString’ to non-scalar type ‘std::string’" errors that you were getting in your wxWidgets 3.1.4 build.  Here's the sequence I use to update:
[code]
I'm not sure if this is the right way to do things, or the most efficient, but it works.

[2022-05-03 13:32] ahzidaljun opened #457 "Mask selection in UV editor in main viewport (select by UV)"
**What is it that you want to do that isn't currently possible?**
A selection by UV limits, ala connected vertices only, would be nice to help with editing distinct parts of an outfit that are connected in mesh but do not share an UV island and thus could reasonably be separated, like pants, sleeves, etc

This is available in dedicated 3D apps like Blender and Max
![Screenshot_14](https://user-ima

[2022-05-03 13:47] ousnius commented on #457
@ahzidaljun

This combination isn't possible in the NIF format. Each vertex can only have one texture coordinate, so everything that's not connected to the same UV island is automatically unconnected mesh-wise as well.

What you can already do is select (mask) all vertices that are connected mesh-wise (faces are connected in some way) by using the menu items "Mask More/Less" or their keyboard shor

[2022-05-13 17:45] MrAnnonymous00 opened #458 "[FO4] About left bare forearm problem when not wearing pipboy"
In FO4, some outfits have 2 left arm meshes because of pipboy.
For example,
![Suit00](https://user-images.githubusercontent.com/90162452/168335955-e5dba79e-1286-4242-9404-5674fb2d329e.png)
This is the mesh of clean suit.
 - Both of sleeves covers wrists if pipboy is not worn together.
 - Left sleeve is rolled up and bare forearm is revealed when pipboy is worn.

The problem is, that bare forearm i

[2022-05-14 23:49] ousnius commented on #458
@MrAnnonymous00 The numbers ("User Index") are the slot of the segment ("Slot" in the Outfit Studio dropdown). The pipboy slot is 60 and the pipboy cap slot is 160.

Outfit Studio didn't have the slot 160 as a choice yet, I just added it. Meaning you will be able to choose it instead of having to enter the number in NifSkope in the next version.

[2022-05-14 23:49] #458 closed, assigned to nobody

[2022-05-15 04:48] talkingkittycat commented on #455
I had a similer expierence to OP, expierencing most of the same problems they had, with the mostly same solutions working (including putting ```#include "../DDS.h"``` last) , though now I'm getting an error I assume is related to nifly:
[code]
I'm using the latest git of wxWidgets compiled with GTK3 and gcc 11. Any help would be greatly appreciated.

[2022-05-15 11:57] sts1skj commented on #455
@talkingkittycat The error "undefined reference to `FindBlockByName<NiNode>`" should be easy to fix: just move the definition of `FindBlockByName` from lib/nifly/src/NifFile.cpp to lib/nifly/include/NifFile.h (stick it before the `} // namespace nifly` line at the end).  Could you please try this and tell me if it works?

If this fix does work, I'll submit a pull request for nifly.  Or maybe Ousni

[2022-05-15 13:42] ousnius commented on #455
@sts1skj As long as it compiles, I couldn't care less about which include line is where within the same file.

[2022-05-15 13:57] sts1skj commented on #455
PR #459 should fix the `GetClassInfoW` build errors.  Ousnius has merged it as commit 17eb631.

@Rabcor @talkingkittycat Please let me know if commit 17eb631 fixes the `GetClassInfoW` error.

[2022-05-15 18:03] talkingkittycat commented on #455
@sts1skj Tried with a clean git, and ```GetClassInfoW``` was indeed fixed. moving ```FindBlockByName<NiNode>``` also fixed the problem and I was able to compile BS&OS successfully. Thank you very much!

[2022-05-15 18:14] sts1skj commented on #455
Nifly PR 35 (https://github.com/ousnius/nifly/pull/35) moves the definition of `FindBlockByName` from the source file to the header.

That should be the last of the errors.  Let me know if you have any more problems.

[2022-05-16 04:07] talkingkittycat commented on #455
After compiling I did get another issue. I moved the executables to my Skyrim's CalienteTools, and when I run it I get an error saying "Failed to load Setup.xrc file", although I do have it. I have tried doing a clean reinstall of bodyslide and have ran vanilla Skyrim to make sure I have the proper files. I have also tried compiling with GTK3 and GTK2 based wxWidgets and I get the same problem wit

[2022-05-16 04:10] sts1skj commented on #455
@talkingkittycat The directory "res" has to be copied from the BS&OS source directory into Skyrim/Data/CalienteTools/BodySlide, not just the executable.

(I did mention this in the file Readme-linux.txt, but perhaps my explanation there was not clear.)

[2022-05-16 15:17] sts1skj commented on #455
Ousnius has merged nifly PR 35 as commit 763c5c9 (https://github.com/ousnius/nifly/commit/763c5c92364cc352068c14cb6d59086fac954e2c).  The res-directory instructions in Readme-linux.txt have also been updated in BS&OS PR #460, commit af03cdd.

I'm closing this issue.  Feel free to re-open it if any further issues with Linux building and running are found.

[2022-05-16 15:17] #455 closed, assigned to nobody

[2022-05-16 17:57] Rabcor commented on #455
I'm sorry for just starting the thread and disappearing like this, I managed to make bodyslide work in proton (wasn't hard either), kept modding, kinda forgot about this issue while playing hehe...

I'll try to build it just to see if my issue is resolved though, now that i'm here again.

Built it successfully with
[code]

Failed to actually launch it though.

[code]

But it might have if I tried

[2022-05-18 19:42] #454 closed, assigned to ousnius

[2022-06-06 15:27] MrAnnonymous00 opened #461 "[FO4] About 'Merge Geometry' function and Segment Data"
When trying to merge shapes in Outfit Studio, several things are checked before executing it. Like shader data, alpha properties and segment data.
And segment data checking seems like it doesn't work as it intended. For example,

![01](https://user-images.githubusercontent.com/90162452/172189895-9cb075ac-2224-4600-8864-abe5b7fe3518.png)
1. This is Army Fatigues slider set from CBBE Vanilla. And I'

[2022-06-06 15:55] ousnius commented on #461
@MrAnnonymous00 Segment slots aren't identical.
![image](https://user-images.githubusercontent.com/7034795/172198048-aff5ad92-f2f9-488a-af37-8d6054c25f61.png)

[2022-06-07 06:17] MrAnnonymous00 commented on #461
I've made a mistake in that screenshot. But trust me, I've tested for this for almost a dozen times. And I've just tested again.
![03-1](https://user-images.githubusercontent.com/90162452/172308277-ee24ce53-54b4-440f-a495-a54eb5cad12e.png)
And it's not working in this time again.
![04-1](https://user-images.githubusercontent.com/90162452/172308465-68ef3f7f-71a4-43cc-9f9c-aa3f49c353f4.png)

Edit :

[2022-07-14 19:34] zhongjiedong opened #462 "Refine mesh mask problematic vertices"
**What is it that you want to do that isn't currently possible?**

When you try and refine mesh, sometimes you get an error but it doesnt show you which vertices that are problematic

[2022-07-30 03:36] drgns opened #463 "(FO4) Trying to preview crashes BodySlide"
Whenever I try to preview the settings I put into BodySlide, it always freezes the program and won't show what it was I was trying to preview. I thought it was an issue with other mods, but it does the same thing for models that came base with the program. The model can still be built and implemented into the game, but I don't want to have to enter and exit my game to test slider settings.

[2022-08-23 00:03] alphabetsoupdog1234 opened #464 "Show outfits with zap options only (BodySlide)"
IMO this is a low priority nice-to-have.

Currently there's no way (to my knowledge[!]) that you can find which outfits have ZAP options aside from the mod author writing this information somewhere, or looking at each piece / data file one at a time.

In my opinion, it would be great if there were an option to automatically create/update an outfit group that contains all your items with ZAP option

[2022-08-28 16:40] HeyVasyan commented on #332
TL;DR
This has nothing to do with BodySlide, nor with MO. It's just yet another case of Windows shooting itself in the foot.

TS;WM
I ran into the same issue and tried to build my files without MO as was suggested here, but to no avail. So, after a debugging session, I was surprised to find that freezes happen after a WinAPI call (setScrollInfo) deep inside wxWidgets when it creates a "Choose outp

[2022-09-07 05:44] CyborgArmGun opened #465 "When Exporting to Nif BSEffectShaderPropertyFloat does not link it's target correctly when using merge geometry"
**Description**
If you take two BSEffectShaderProperty of the same type and merge, then save. Exporting to nif and running bodyslide produces the same result.

**How to reproduce**
1. Click on 'merge geometry'
2. Set either as the base
3. Save
4. View in NifSkope and the BSEffectShaderPropertyFloat will not list it's BSEffectShaderProperty as it's target.

Image Example:

![Ground object ctd](http

[2022-09-11 12:00] mrudat opened #466 "Corrupted slider data when replacing partial reference mesh with complete reference."
**Description**
When I replace the reference in a project with triangles removed from the embedded reference with the complete reference, it appears that the slider data isn't imported correctly, and you end up with corrupt slider data for some triangles.

**How to reproduce**
Using Outfit Studio v5.6.0:
1. Load "CBBE 3BA Creation Club - Body - Golden Saint Cuirass.osp" from "CBBE 3BA Creation Clu

[2022-09-26 03:01] ghost commented on #317
This does not 'only occur with MO' I've got the same problem with vortex. Fo4 fusion girl and body talk batch builds.

My taskbar performance graph still functions, so I can see when it's finished, but it never recovers, and I can't mouse interact with anything on screen. Keyboard works, but nothing will alt tab. Screen does not update.
I can see it's done working, but I can't see if there is a di

[2022-09-26 04:25] ghost commented on #317
Update, I click batch build, everything is checked. Click start, your screen is locked up, I killed explorer and it took 3 minutes to come back.

And I can complete the build from Choose output set.

7 minutes later it's locked up again. All I did was try to Google something.

[2022-09-27 04:34] themilkdrinker0 opened #467 "Vertex Painting seems to ignore masking"
As the title says, noticed while painting a model I'm working on.

[2022-10-04 21:05] rdhughes opened #468 "Original slider data not purged on import of new reference"
When converting from CBBE bodies or earlier versions of  BHUNP to BHUNP v3, importing the new reference and confirming results in a mesh with incorrect slider data attached to the vertices. This means that moving a slider causes the mesh to deform in a distorted manner. This happens regardless of whether merge slider data is checked or not. The problem seems to appear any time the UV/vertex count

[2022-10-22 09:13] Spaz490 opened #469 "Open currently active outfit's shape data folder in BodySlide"
Bodyslide: open shape data folder button

I was thinking that it would speed up peoples workflow if they were able to open the selected outfits shade data, for quick access for Nifskope etc.

[2022-10-22 23:01] IC57 opened #470 "Preview image appears, but labeled with 'No Image' repeatedly"
Previews in Bodyslide appear correctly and respond to slider adjustments, except that they feature a patchwork of 'No Image' text messages.

It happens ALL the time.

Versions are current.

Any idea what I have done wrong?  (I am assuming that this is NOT a feature or bug...)

[2022-10-23 09:34] ousnius commented on #470
@IC57 The FAQ section on the respective game's mod pages of BodySlide talk about this problem. Please take a look there and if the problem persists, ask for help on the mod page instead.

[2022-10-23 09:34] #470 closed, assigned to nobody